---
---
// Exteral libraries
// Bootstrap
@import "bootstrap-custom";
// Bytesize icons. View the file for credits.
$bytesize_icons_desired: link, caret-bottom, arrow-top, info, arrow-left, play, twitter, facebook, instagram;
@import "bytesize-icons-inline";
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito+Sans');
// Mixins.
@mixin drop-shadow($transparency: 0.5) {
  -webkit-filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, $transparency));
  filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, $transparency));
}
@mixin fluid {
  // From Bootstrap .img-fluid
  max-width:100%;
  height:auto;
}
@mixin border-radius-specific($position:all, $amount:.2rem) {
  @if $position == 'top' {
    border-radius:none;
    border-top-left-radius:$amount;
    border-top-right-radius:$amount;
  } @else if $position == 'bottom' {
    border-radius:none;
    border-bottom-left-radius:$amount;
    border-bottom-right-radius:$amount;
  } @else if $position == 'left' {
    border-radius:none;
    border-top-left-radius:$amount;
    border-bottom-left-radius:$amount;
  } @else if $position == 'right' {
    border-radius:none;
    border-top-right-radius:$amount;
    border-bottom-right-radius:$amount;
  } @else {
    border-radius:$amount;
  }
}
// A basic image circle
@mixin circle {
  border-radius:50%;
  background-position:center center;
  background-size:cover;
}

// Stylesheets for each subpage area.
@import "index";
@import "about";
@import "video-design";
@import "photography";
@import "blog";

//
// Start.
//
html {
  overflow-x: hidden;
}
body {
  overflow-x: hidden;
  padding-top: 56px;
  color: #969fa7;
  background: #151515;
}
a {
  color: #84b0d8;
  &:hover {
    color: #b9c6d1;
  }
}
footer#footer-sitewide {
  margin:2rem auto;
  width:100%;
  text-align:center;
  font-size:.8rem;
  color:#888;
  a,
  a:hover {
    color:inherit;
  }
}
.fluid {
  @include fluid;
}

/*
 * Nav that is shown sitewide
 */

nav#nav-sitewide {
  background: rgba(17, 17, 17, 0.85);
  /* Bootstrap: .fixed-top */
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}
#nav-sitewide {
  .nav-item {
    transition: all .15s ease-in-out;
    &:hover, &.active {
      border-bottom: 1px solid rgba(255, 255, 255, 0.25);
    }
  }
  .navbar-toggler {
    .toggler-icon {
      display:inline-block;
    }
  }
  // On mobile/tablet:
  // Make items align to right
  @include media-breakpoint-down(md) {
    .navbar-nav {
      text-align:right;
    }
  }
}
