---
---
// Exteral libraries & fonts.
// Bootstrap
@import "bootstrap-custom";
// Bytesize icons. View the file for credits.
$bytesize_icons_desired: link, caret-bottom, arrow-top, info, arrow-left, play, twitter, facebook, instagram;
@import "bytesize-icons-inline";

// Mixins.
@mixin drop-shadow($transparency: 0.5) {
  -webkit-filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, $transparency));
  filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, $transparency));
}
@mixin fluid {
  // From Bootstrap .img-fluid
  max-width:100%;
  height:auto;
}
@mixin border-radius-specific($position:all, $amount:.2rem) {
  @if $position == 'top' {
    border-radius:none;
    border-top-left-radius:$amount;
    border-top-right-radius:$amount;
  } @else if $position == 'bottom' {
    border-radius:none;
    border-bottom-left-radius:$amount;
    border-bottom-right-radius:$amount;
  } @else if $position == 'left' {
    border-radius:none;
    border-top-left-radius:$amount;
    border-bottom-left-radius:$amount;
  } @else if $position == 'right' {
    border-radius:none;
    border-top-right-radius:$amount;
    border-bottom-right-radius:$amount;
  } @else {
    border-radius:$amount;
  }
}

// Stylesheets for each subpage area.
@import "about";
@import "video-design";
@import "photography";
@import "blog";

//
// Start.
//
html {
  overflow-x: hidden;
}
body {
  overflow-x: hidden;
  padding-top: 56px;
  color: #969fa7;
  background: #151515;
}
a {
  color: #84b0d8;
  &:hover {
    color: #b9c6d1;
  }
}
footer#footer-sitewide {
  margin:2rem auto;
  width:100%;
  text-align:center;
  font-size:.8rem;
  color:#888;
  a,
  a:hover {
    color:inherit;
  }
}
.fluid {
  @include fluid;
}

/*
 * Nav that is shown sitewide
 */

nav#nav-sitewide {
  background: rgba(17, 17, 17, 0.85);
  /* Bootstrap: .fixed-top */
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}
#nav-sitewide {
  .nav-item {
    transition: all .15s ease-in-out;
    &:hover, &.active {
      border-bottom: 1px solid rgba(255, 255, 255, 0.25);
    }
  }
  .navbar-toggler {
    .toggler-icon {
      display:inline-block;
    }
  }
}

/* xs (below sm) */
@include media-breakpoint-down(xs) {
  /* All anchor links are offsetted by 70px */
  /* which is the height of the navbar. */

  :target:before {
    content: "";
    display: block;
    height: 60px;
    margin: -60px 0 0;
  }

  .nav-item {
    &:hover, &.active {
      border: 0;
    }
  }
}

/* Nav subcategory */
/* Transparent bar that occupies
* same space as subcat nav.
* JS hover means it will show/hide
* the subcat nav. */

$sc-height: 60px;
$sc-height-mobile: 240px;
.sc-hover {
  position:fixed;
  width:100%;
  height:$sc-height;
  bottom:0;
  left:0;
  z-index:1025;
  background:none;
}
.sc {
  /* Bootstrap: .fixed-bottom [MODIFIED] */
  position: fixed;
  top:auto;
  bottom:0;
  left: 0;
  right: 0;
  z-index: 1030;
  /* Bootstrap: .justify-content-center */
  justify-content: center !important;

  transition: all 0.4s ease-in-out;
  height:$sc-height;
  // background:rgba(255,255,255,.05);
  padding:.5rem;

  &.sc-up {
    transform:translate(0px, $sc-height);
  }

  .nav-link {
    display:inline-block;
    margin:.15rem 0;

    color:#fff;
    @include drop-shadow(.9);
    font-weight:500;
    cursor:pointer;
    background:rgba(255,255,255,.075);
  }
  .nav-link.active,
  .nav-link:hover {
    background:rgba(255,255,255,.25);
    border-radius:.25rem;
    color:#fff;
  }
  // Display links that are not active
  .nav-link.notactive {
    display:inline-block;
  }
  @include media-breakpoint-down(xs) {
    background:none;
    height:auto; //$sc-height-mobile;
    transform:translate(0px, 0px);

    &.sc-up {
      // For mobile, don't even hide this
      transform:translate(0px, 0px);
    }
    .nav-link {
      width:100%;
      display:block;
      padding:.5rem .2rem;
      text-align:center;
    }
    // Hide links that are not active
    .nav-link.notactive {
      display:none;
    }
    // Show links that are not active, if
    // sc has this toggleable class
    &.sc-mobile-show .nav-link.notactive {
      display:inline-block;
    }
  }
}
