<script src="{{ "/assets/jquery-3.2.1.slim.min.js" | relative_url }}" type="text/javascript"></script>
<script src="{{ "/assets/jquery.unveil.js" | relative_url }}" type="text/javascript"></script>
<!-- <script src="{{ "/assets/popper.min.js" | relative_url }}" type="text/javascript"></script> -->
<!-- <script src="{{ "/assets/bootstrap.min.js" | relative_url }}" type="text/javascript"></script> -->
<script src="{{ "/assets/script.js" | relative_url }}" type="text/javascript"></script>

</body>
</html>