<footer id="footer-intro-to-me" class="footer-author-credit">
  <div class="unit">
    <div class="image-circle" style='background-image:url("{{ site.author.photo.url }}");'>
      <span class="sr-only">About the author, Sebastian Reategui, with image</span>
    </div>
    <p>I'm <strong>Sebastian</strong>. I'm a photojournalist, video editor & digital imaging technician. I like showing people what's going on in the world, and detailing workflows for film and TV post-production.</p>
    <a class="faux-link" href="/about">Read more ▸</a>
  </div>
</footer>
