<!doctype html>
<html lang="en-AU">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta http-equiv="x-ua-compatible" content="ie=edge" />
        
        <title>{{ page.title }} &mdash; Sebastian Reategui</title>

        <link rel="stylesheet" href="{{ "/assets/bootstrap.min.css" | relative_url }}" />
        <link rel="stylesheet" href="{{ "/assets/style.css" | relative_url }}" />
        
    </head>
<body class="page-index no-js" id="top">
    
<nav class="navbar navbar-expand-sm fixed-top navbar-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav-01" aria-controls="nav-01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon i-caret"></span>
    </button>
    <a class="nav-item nav-link navbar-brand" href="about.html">Sebastian Reategui</a>
    <div class="collapse navbar-collapse justify-content-center" id="nav-01">
      <div class="navbar-nav">
            <a class="nav-item nav-link active" href="index.html">Photography
              <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="video.html">Video</a>
            <a class="nav-item nav-link" href="design.html">Design</a>
            <a class="nav-item nav-link" href="//sebasencolombia.wordpress.com" target="_blank">Blog</a>
            <a class="nav-item nav-link" href="about.html">About&nbsp;&sdot;&nbsp;Contact</a>
      </div>
    </div>
</nav>