<!doctype html>
<html lang="en-AU">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta http-equiv="x-ua-compatible" content="ie=edge" />
        
        <title>{{ page.title }} &mdash; Sebastian Reategui</title>

        <link rel="stylesheet" href="assets/bootstrap.min.css" />
        <link rel="stylesheet" href="assets/style.css" />
        
    </head>
<body class="page-index no-js" id="top">
    
<nav class="navbar navbar-expand-sm fixed-top navbar-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav-01" aria-controls="nav-01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon i-caret"></span>
    </button>
    <a class="nav-item nav-link navbar-brand" href="about">Sebastian Reategui</a>
    <div class="collapse navbar-collapse justify-content-center" id="nav-01">
      <div class="navbar-nav">
        {% for item in site.data.nav.items %}
          <a class="nav-item nav-link {% if page.url == item.url %}active{% elsif page.url == item.file %}active{% endif %}" href="{{ item.url }}">{{ item.label }}{% if page.url == item.url %}<span class="sr-only">(current)</span>{% elsif page.url == item.file %}<span class="sr-only">(current)</span>{% endif %}</a>
        {% endfor %}
      </div>
    </div>
</nav>
  
  
  
  