    {%- comment -%} Variables for reuse throughout this section {%- endcomment -%}
    {%- assign blogOrRecent = false -%}
    {%- if page.layout == 'blog' or page.layout == 'recent' -%}
      {%- assign blogOrRecent = true -%}
      {%- comment -%} For blogs and recent, don't include the site title. The article headline is more important. {%- endcomment -%}
      {%- assign metaTitle = page.title -%}
    {%- else -%}
      {%- comment -%} For all other pages, put the site title first, so as to contextualise the page title (i.e. 'Home'). {%- endcomment -%}
      {%- assign metaTitle = site.title | append: ": " | append: page.title -%}
    {%- endif -%}
    {%- assign metaPageUrl = page.url | absolute_url | remove: '.html' | remove: '.md' -%}
    {%- if page.description -%}
      {%- assign metaDesc = page.description -%}
    {%- else -%}
      {%- assign metaDesc = site.description -%}
    {%- endif -%}
    {%- if page.thumbnail -%}
      {%- assign metaThumb = page.thumbnail -%}
    {%- else -%}
      {%- assign metaThumb = site.thumbnail -%}
    {%- endif -%}
    {%- assign metaThumbUrl = metaThumb.url | absolute_url -%}
    {%- if page.date -%}
      {%- assign pageDate = page.date -%}
    {%- else -%}
      {%- assign pageDate = site.time -%}
    {%- endif -%}
    {%- if page.dateModified -%}
      {%- assign pageDateModified = page.dateModified -%}
    {%- else -%}
      {%- if page.date -%}
        {%- assign pageDateModified = page.date -%}
      {%- else -%}
        {%- assign pageDateModified = site.time -%}
      {%- endif -%}
    {%- endif -%}

    {%- comment -%} OG Graph Facebook {%- endcomment -%}
    <meta property="og:url" content="{{ metaPageUrl }}" />
    <meta property="og:title" content="{{ metaTitle }}" />
    <meta property="og:description" content="{{ metaDesc }}"/>
    {%- if blogOrRecent -%}
      <meta property="og:type" content="article" />
      <meta property="article:author" content="{{ site.author.name }}" />
      <meta property="article:publisher" content="{{ site.author.name }}" />
      <meta property="article:published_time" content="{{ pageDate }}" />
      <meta property="article:modified_time" content="{{ pageDateModified }}" />
    {%- else -%}
      <meta property="og:type" content="website" />
      <meta property="og:updated_time" content="{{ dateModified }}"/>
    {%- endif -%}
    <meta property="og:image" content="{{ metaThumbUrl }}"/>
    <meta property="og:image:width" content="{{ metaThumb.width }}"/>
    <meta property="og:image:height" content="{{ metaThumb.height }}"/>
    <meta property="og:site_name" content="{{ site.titleLong }}"/>
    <meta property="og:locale" content="{{ site.locale }}"/>

    {%- comment -%} MICRODATA for schema.org {%- endcomment -%}
    <meta itemprop="name" content="{{ metaTitle }}" />
    <meta itemprop="url" content="{{ metaPageUrl }}" />
    <meta itemprop="thumbnailUrl" content="{{ metaThumbUrl }}" />
    <meta itemprop="image" content="{{ metaThumbUrl }}" />
    {%- if blogOrRecent -%}
      <meta itemprop="author" content="{{ site.author.name }}" />
      <meta itemprop="publisher" content="{{ site.author.name }}" />
      <meta itemprop="datePublished" content="{{ pageDate }}" />
      <meta itemprop="dateModified" content="{{ pageDateModified }}" />
      <meta itemprop="mainEntityOfPage" content="{{ metaPageUrl }}" />
    {%- endif -%}

    {%- comment -%} TWITTER {%- endcomment -%}
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="{{ site.author.social_media.twitter.handle }}" />
    <meta name="twitter:creator" content="{{ site.author.social_media.twitter.handle }}" />
    <meta name="twitter:title" content="{{ metaTitle }}" />
    <meta name="twitter:image" content="{{ metaThumbUrl }}" />
    <meta name="twitter:url" content="{{ metaPageUrl }}" />

    {%- comment -%} OTHER {%- endcomment -%}
    <link rel="canonical" content="{{ metaPageUrl }}" />
    <link rel="image_src" content="{{ metaThumbUrl }}" />
