{%- if page.schemaType == 'Blog' or page.schemaType == 'BlogPosting' -%}
  {%- assign metaTitle = page.title -%}
  {%- assign titleTag = page.title | append: ' &mdash; ' | append: site.title -%}
{%- else -%}
  {%- if page.titleFull -%}
    {%- assign metaTitle = page.titleFull -%}
    {%- assign titleTag = page.titleFull -%}
  {%- else -%}
    {%- assign metaTitle = site.title | append: ': ' | append: page.title -%}
    {%- assign titleTag = page.title | append: ' &mdash; ' | append: site.title -%}
  {%- endif -%}
{%- endif -%}
{%- if page.description -%}
  {%- assign metaDescription = page.description -%}
{%- else -%}
  {%- assign metaDescription = site.description -%}
{%- endif -%}
{%- if page.date -%}
  {%- assign metaDate = page.date -%}
{%- else -%}
  {%- assign metaDate = site.time -%}
{%- endif -%}
{%- if page.dateModified -%}
  {%- assign metaDateModified = page.dateModified -%}
{%- else -%}
  {%- assign metaDateModified = metaDate -%}
{%- endif -%}
{%- assign metaUrl = page.url | absolute_url -%}
{%- if page.thumbnail -%}
  {%- assign metaThumbUrl = page.thumbnail.url | absolute_url -%}
  {%- assign metaThumbWidth = page.thumbnail.width -%}
  {%- assign metaThumbHeight = page.thumbnail.height -%}
{%- else -%}
  {%- assign metaThumbUrl = site.thumbnail.url | absolute_url -%}
  {%- assign metaThumbWidth = site.thumbnail.width -%}
  {%- assign metaThumbHeight = site.thumbnail.height -%}
{%- endif -%}
<title>{{ titleTag }}</title>

<meta property="og:type" content="{{ page.schemaTypeOG }}" />
<meta property="og:site_name" content="{{ site.titleLong }}" />
<meta property="og:url" content="{{ metaUrl }}" />
<meta property="og:title" content="{{ metaTitle }}" />
<meta property="og:description" content="{{ metaDescription }}" />
<meta property="article:author" content="{{ site.author.name }}" />
<meta property="article:publisher" content="{{ site.author.name }}" />
<meta property="article:published_time" content="{{ metaDate }}" />
<meta property="article:modified_time" content="{{ metaDateModified }}" />
<meta property="og:updated_time" content="{{ metaDateModified }}" />
<meta property="og:image" content="{{ metaThumbUrl }}" />
<meta property="og:image:width" content="{{ metaThumbWidth }}" />
<meta property="og:image:height" content="{{ metaThumbHeight }}" />

<meta itemprop="name headline" content="{{ metaTitle }}" />
<meta itemprop="author publisher" content="{{ site.author.name }}" />
<meta itemprop="description" content="{{ metaDescription }}" />
<meta itemprop="datePublished" content="{{ metaDate }}" />
<meta itemprop="dateModified" content="{{ metaDateModified }}" />
<meta itemprop="url mainEntityOfPage" content="{{ metaUrl }}" />
<meta itemprop="image thumbnailUrl" content="{{ metaThumbUrl }}" />

<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:site" content="{{ site.author.social_media.twitter.handle }}" />
<meta name="twitter:creator" content="{{ site.author.social_media.twitter.handle }}" />

<link rel="canonical" content="{{ metaUrl }}" />
<link rel="image_src" content="{{ metaThumbUrl }}" />
