  <nav class="navbar navbar-expand-sm navbar-dark" id="nav-sitewide" role="navigation">
      <a class="nav-item nav-link navbar-brand" href="/">Sebastian Reategui</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav-01" aria-controls="nav-01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="toggler-icon i-caret-bottom"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-md-center" id="nav-01">
        <div class="navbar-nav">
          {%- for item in site.data.nav.items -%}
            {%- assign item_needs_active = false -%}
            {%- assign page_name_clean = page.permalink | remove: '/' -%}
            {%- if item.name == page_name_clean  -%}
              {%- comment -%} The link is the same as the current page, so mark it as active. {%- endcomment -%}
              {%- assign item_needs_active = true -%}
            {%- elsif item.name == layout.subcategory_parent -%}
              {%- comment -%} The link is not the same as the current page, but it matches the subcategory parent. {%- endcomment -%}
              {%- assign item_needs_active = true -%}
            {%- else -%}
              {%- assign item_needs_active = false -%}
            {%- endif -%}
            {%- if item_needs_active != true -%}
          <a class="nav-item nav-link" href="{{ item.url }}">{{ item.label }}</a>
            {%- else -%}
          <a class="nav-item nav-link active" href="{{ item.url }}">{{ item.label }}
            <span class="sr-only">(current)</span>
          </a>
            {%- endif -%}
          {%- endfor -%}
          <!-- This element aims to balance the other items in the exact center, but itself is otherwise kept invisible. d-none d-sm-block avoids showing it in mobile viewports. -->
          <a class="item item-faux-brand invisible d-none d-sm-block" href="#" aria-hidden="true">Sebastian Reategui</a>
        </div>
      </div>
    </nav>
