/*
 * about.html
 */

$about-accent: #508fb2;
$about-accent2: #5da7d0;

body.page-about {
  background-color: #fcfcfc;
  color: #212529;

  a {
    color:$about-accent;
  }
  a:hover {
    color:$about-accent2;
  }
}

main.about {
  padding-top:2rem;

  section.about-image {
    @include make-col-ready();
    @include media-breakpoint-down(md) {
      @include make-col(12);
    }
    @include make-col(4);
    padding:2rem;
    padding-top:1rem;
    text-align:center;

    #about-image-caption {
      font-size: .6rem;
      margin: .5rem 0;
      color: #888;
      a, a:hover {
        color: #888;
      }
    }
    // On desktop:
    // * Hide the caption so it appears by hovering.
    @include media-breakpoint-up(lg) {
      #about-image-caption {
        display:none;
      }
      &:hover #about-image-caption {
        display:block;
      }
    }
  }
  section.about-content {
    @include make-col-ready();
    @include media-breakpoint-down(md) {
      @include make-col(12);
    }
    @include make-col(8);
  }
  section.about-para {
    @include make-col-ready();
    @include media-breakpoint-up(md) {
      @include make-col(12);
    }
    @include media-breakpoint-up(lg) {
      @include make-col(6);
    }
  }
  .about-body-lower {
    @include make-col-ready();
    @include media-breakpoint-up(md) {
      // @include make-col-offset(4);
    }
  }

  header.lead {
    margin:1rem 0;
  }
}


  @mixin about-buttons-contact {
    display: block;
    text-align: center;

    margin-left:0;
    margin-right:.5rem;
    margin-top:.25rem;
    margin-bottom:.25rem;

    padding: .5rem .75rem;
    background: #ddd;
    border-radius: .5rem;

    color:$about-accent;

    @include media-breakpoint-down(sm) {
      // Make the buttons easier to click.
      width:100%;
      flex:100%;
      // But with correct margins for that viewport.
      margin:.25rem 0;
    }

    &:hover,
    &:active {
      background-color:$about-accent;
      color:#eee;
    }
  }

.buttons-contact {
  list-style: none;
  margin:.5rem 0;
  padding:0;
  display:flex;
  flex-wrap: wrap;

  .button {
    @include about-buttons-contact;
  }
}

#about-contact-form-submit {
  @include about-buttons-contact;
  width:auto;
}

#about-contact-form-toggle {
  // Add a small arrow icon to indicate user can toggle this
  &:after {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
  }
}

#about-contact-form {
  // Initially, hide the form
  display:none;
  padding: 1rem 2rem;
  background: #eee;
  border-radius: .25rem;

  @include media-breakpoint-down(sm) {
    // On mobile: less padding means more room to type in the box
    padding:1rem 15px;
    margin:1rem -15px;
  }

  input,
  textarea {
    margin:1rem 0;
    padding:.5rem;
    background: transparent;
    border-color: rgba(80, 143, 178, 0.27);
  }
  input {
    // Shorter email field
    width:16rem;
    @include media-breakpoint-down(sm) {
      // Fit the viewport on mobile
      width:100%;
    }
  }
  textarea {
    min-height:8rem;
  }
  .about-contact-form-note {
    color:#868e96;
    font-size:.85rem;
    margin-top: 2rem;
  }
}
