body.page-blog {
  background:#bbb;
  color:#222;

  a {
    color:#0d5597;
  }
  a:hover {
    color:#007bff;
  }
  // Undo fixing the navbar to the top.
  padding-top:0;
  #nav-sitewide {
    position:static;
    top:auto;
    bottom:auto;
    left:auto;
    right:auto;
    z-index:auto;
  }
}
.blog {
  background:#ccc;
  // Use Rubik, defined in style.scss
  font-family: 'Rubik', $font-family-base;

  // Narrower container for blogs
  @include media-breakpoint-up(sm) {
    &.container {
      max-width:800px;
    }
  }
}
.blog {
  .blog-thumb-primary,
  .blog-body,
  .blog-gallery {
    img {
      @include fluid;
    }
  }

  .blog-date {
    display:inline-block;
    background:#eee;
    border-radius:.25rem;
    padding:.5rem;
  }


}



section.recent-item {
  .title {
  }
}
