body.page-blog {
  background:#bbb;
  color:#222;

  a {
    color:#0d5597;
  }
  a:hover {
    color:#007bff;
  }
}
section.blog {
  background:#ccc;
  // Use Rubik, defined in style.scss
  font-family: 'Rubik', $font-family-base;

  // Narrower container for blogs
  @include media-breakpoint-up(sm) {
    &.container {
      max-width:800px;
    }
  }
}
section.blog {
  .blog-thumb-primary,
  .blog-text,
  .blog-gallery {
    img {
      @include fluid;
    }
  }

  .blog-date {
    display:inline-block;
    float:right;
    background:#eee;
    border-radius:.25rem;
    padding:.5rem;
  }


}



section.recent-item {
  .title {
  }
}
