body.page-index {
  color:#fff;

  // On sm and higher:
  // * Hide the nav items
  // * Make the brand stand out by being centered.
  // * Unsticky the nav.
  @include media-breakpoint-up(sm) {
    padding:0;
    nav#nav-sitewide {
      background:none;
      position:static;
      top:auto;
      left:auto;
      right:auto;
      bottom:auto;
      z-index:auto;
      .navbar-nav {
        display:none;
      }
      .navbar-brand {
        background:transparent;
        width:100%;
        text-align:center;
        border:none;
        // Hack for font rendering.
        transform:translate3d(0,0,0);
        &:hover {
          border:none;
        }
      }
    }
  }
}

// Widths.
$tile-spacing:5px;
$tile-border-radius:.2rem;
$tile-dimension-xs: 100vw;
$tile-dimension-sm: 50vw;
$tile-dimension-xl: 512px;
$tile-dimension-container: 1140px;
body.page-index main.container {
  padding:0;
  margin:0;
  @include media-breakpoint-up(xl) {
    margin:0 auto;
  }
}
.tiles {
  margin:0;
  @include media-breakpoint-up(xl) {
    margin:0 2rem;
  }
  width:100vw;
  @include media-breakpoint-up(xl) {
    width: $tile-dimension-container;
  }
  padding:0;
  display: flex;
  flex-wrap: wrap;
  .tile {
    position:relative;
    padding:0;
    margin:0;
    width:100%;
    max-width:$tile-dimension-xs;
    max-height:$tile-dimension-xs;
    @include media-breakpoint-up(sm) {
      border-radius:0;
      max-width:$tile-dimension-sm;
      max-height:$tile-dimension-sm;
    }
    @include media-breakpoint-up(xl) {
      border-radius:$tile-border-radius;
      max-width:$tile-dimension-xl;
      max-height:$tile-dimension-xl;
    }
    @include media-breakpoint-up(xl) {
      margin:$tile-spacing;
    }

    &.tile-xl-wide {
      // For tiles with this class
      // * Remove the height restriction
      // * Stay width 100% until md
      @include media-breakpoint-down(md) {
        max-height:none;
        max-width:$tile-dimension-xs;
      }
    }

    .image {
      height:0;
      padding-bottom:100%;
      background-size:cover;
      background-position: center center;
      z-index:0;
      width:100%;
      @include media-breakpoint-up(sm) {
        border-radius:0;
      }
      @include media-breakpoint-up(xl) {
        border-radius:$tile-border-radius;
      }
    }
    .label-box {
      width:$tile-dimension-xs;
      height:$tile-dimension-xs;
      @include media-breakpoint-up(sm) {
        width:$tile-dimension-sm;
        height:$tile-dimension-sm;
      }
      @include media-breakpoint-up(xl) {
        width:$tile-dimension-xl;
        height:$tile-dimension-xl;
      }
      display:flex;
      align-items:center;
      justify-content:center;
      z-index:3;
    }
    .label {
      z-index:3;
      padding: 1rem;
      font-size: 1.1rem;
      line-height: 1.1rem;
      font-weight: 300;
      border: 2px solid #fff;
      border-radius: .25rem;
      background: rgba(255, 255, 255, 0.05);
      color: #fff;
      display: inline;
      width: auto;
      flex: 0 0 auto;
      text-align: center;
      margin: 0 auto;
    }
    // Now, when hovering over .link,
    // apply the following effects
    .label-box:hover {
      background: rgba(0, 0, 0, .1);
      text-decoration:none;
      .label {
        background:rgba(255,255,255,0.95);
        color:#222;
      }
    }
  }
}


//
// Footer items
// * These may have no image background.

// Colors first.
$footer-text: #FFF;
$footer-bg: #222;
$footer-border: $accent-purple;
$footer-border-bright: $accent-purple-bright;
.tile.footer {
  background-color:$footer-bg;
  padding:3rem 6rem;
  @include media-breakpoint-down(md) {
    padding:3rem 1rem;
  }
  .action {
    background:none;
    margin: 2rem auto 1rem auto;
    width: 10rem;
    border: 2px solid $footer-border;
    border-radius:.25rem;
    display: block;
    padding: 1rem;
    text-align: center;
    color:$footer-border-bright;
    &:hover {
      background:$footer-border;
      color:$footer-text;
      text-decoration:none;
    }
  }
}

// Colors
body.page-index section.about {
  .photo-profile {
    @include circle;
    width:150px;
    height:150px;
    margin:0 auto;
  }
  .text {
    margin:2rem auto;
    transform:translate3d(0,0,0);
    text-align:center;
    font-weight:400;
  }
}

body.page-index section.contact {
  .social {
    text-align:center;
    margin:3rem auto;
    .icon {
      display: inline-block;
      margin: 0 12px;
      background-size: 24px 24px;
      width: 24px;
      height: 24px;
    }
  }
  header {
    text-align: center;
    font-size: 1.25rem;
    letter-spacing: 0.075rem;
    font-weight: 300;
  }
  form {
    max-width:512px;
    margin:0 auto;
  }
  .form-control {
    color:$footer-text;
    background-color:$footer-bg;
    border: 1px solid $footer-border;
    margin:1rem auto;
    &::placeholder {
      color:$footer-border-bright;
      letter-spacing:0.05rem;
      font-weight:300;
    }
  }
  .action {
    // Custom styling for the 'Send' button
    // Makes it look flusher with the text fields
    margin:0;
    padding:.5rem;
    width:100%;
  }
  textarea {
    height: 100px;
  }
}
