/* PAGE SPECIFIC */
/*
 * photography.html layout pages
 */

 /* Nav subcategory */
 /* Transparent bar that occupies
 * same space as subcat nav.
 * JS hover means it will show/hide
 * the subcat nav. */

$sc-height:         60px;
$sc-height-mobile:  240px;
@mixin sc-width-xl {
  @include media-breakpoint-up(xl) {
    max-width:992px;
  }
}
.sc-hover {
  position:fixed;
  width:100%;
  height:$sc-height;
  bottom:0;
  left:0;
  z-index:1025;
  background:none;
}
.sc {
  // Define the transitions here so they apply between class changes.
  transition: transform 0.4s ease-in-out;
  .nav-link {
    transition: all 0.1s ease-in-out
              , opacity 0s;
  }
  &.sticky {
    position: fixed;
    top:auto;
    bottom:0;
    left: 0;
    right: 0;
    z-index: 1030;
    justify-content: center;

    height:$sc-height;
    background: rgba(0, 0, 0, .5);
    padding:.5rem 2rem;
    display:flex;
    margin:0 auto;
    @include border-radius-specific(top);

    &.sc-up {
      transform:translate(0px, $sc-height);
    }

    .nav-link {
      background:none;
      padding: .5rem 1rem;
      color: #fff;
      margin:0 .5rem;
      text-align: center;
      flex-basis: 0;
      flex-grow: 1;
      align-self: center;
      max-width: 100%;
      border-radius:.25rem;
      @include drop-shadow;

      &.active,
      &:hover {
        background:rgba(255,255,255,.25);
        color:#fff;
      }
    }
    // Display links that are not active
    .nav-link.notactive {
      display:inline-block;
    }
    @include media-breakpoint-down(sm) {
      // On mobile:
      // * Show the list vertically
      // * With JS, hide all items except for .active
      // * And then show them when .active is clicked.
      // * Remove drop shadow.
      background:none;
      height:auto; //$sc-height-mobile;
      transform:translate(0px, 0px);
      filter:none;

      &.sc-up {
      // For mobile, don't even hide this
        transform:translate(0px, 0px);
      }
      .nav-link {
        flex: 0 0 100%;
        padding:.5rem .2rem;
        text-align:center;
        margin:.5rem 0;
        border:2px solid $accent-purple;
        color:$accent-purple-bright2;

        &.active,
        &:hover {
          background-color:rgba($accent-purple, 0.65);
          border-color:rgba($accent-purple, 0.05);
          color:#fff;
        }
        &.notactive {
          // Hide links that are not active
          display:none;
        }
      }
      &.mobile-show {
        // * Show links again when toggled specifically with .mobile-show
        // * Give them a dark background for text visibility.
        // * Remove border styling.
        background:rgba(0,0,0,.75);
        border:none;
        border-radius:none;
        .nav-link {
          &.active,
          &:hover {
            background-color:$accent-purple;
          }
          &.notactive {
            display:inline-block;
          }
        }
      }
    }
    @include sc-width-xl;
  }
  &.static {
    position:static;
    top:auto;
    bottom:auto;
    left:auto;
    right:auto;
    z-index:auto;
    width:100%;
    display:flex;
    padding:1rem 2rem;
    margin:0 auto;

    .nav-link {
      background:none;
      padding: .5rem 1rem;
      color: $accent-purple-bright;
      border: 2px solid $accent-purple;
      border-radius: .25rem;
      margin: .5rem;
      text-align: center;
      flex-basis: 0;
      flex-grow: 1;
      max-width: 100%;

      &.active,
      &:hover {
        text-decoration: none;
        color:#fff;
        background-color:$accent-purple;
      }
    }
    @include media-breakpoint-down(sm) {
      .nav-link {
        flex: 0 0 100%;
        margin:.5rem 0;
      }
    }
    @include sc-width-xl;
  }
}

//
//
// Primary page layout
//
//

$photography-width: 1280px;
$photography-height: 853px;
$photography-ratio-pc: 66.66667%;

section.image {
  position: relative;
  max-width: $photography-width;
  height:auto;
  margin:0 auto;

  color:#e0e0e0;

  .image-wrapper {
    height:0;
    padding-bottom:$photography-ratio-pc;
  }

  .object {
    @include fluid;
    display: block;
    margin: 0 auto;

    &.nolazy {
      max-height:$photography-height;
    }
  }

}


// ii
// A photo information palette
//
//

$ii-padding:16px;
$ii-background: rgba(0,0,0,.5);
$ii-m-toggle-size: 28px;
$ii-share-count: 3;
$ii-share-size: 24px;
$ii-share-margin: 5px;

.ii {
  font-size:.8rem;

  .date {
    .date-short {
      border:1px solid rgba(255,255,255,.5);
      margin:0px 8px;
      padding:2px 8px;
      border-radius:.25rem;
    }
  }

  .description {
    a {
      color:$accent-purple-bright-super;
    }
    a:hover {
      color:$accent-purple-bright2;
    }
  }
}

// Viewport above SM
// Separate definitions entirely for Mobile and Desktop
@include media-breakpoint-up(sm) {
  .ii {
    &.with-desc {
      .body {
        background:$ii-background;
      }
      .description {
        flex: 0 0 66.6666%;
      }
      .details {
        // No flex definition
        // And push it to the right hand side
        margin-left: auto;
      }
    }
    &.no-desc {
      .body {
        background:none;
      }
      .description {
        flex:0;
        display:none;
      }
      .details {
        background:$ii-background;
        // Push this to the right hand side
        margin-left:auto;
        border-top-left-radius:.25rem;
      }
    }

    .body {
      position:absolute;
      bottom:0;
      width:100%;
      display:flex;
      flex-grow:1;
      justify-content: space-between;
      // Vertical align
      align-items: center;
    }

    .description {
      padding:$ii-padding;
      p {
        margin:0;
      }
    }

    .details {
      padding:$ii-padding;
    }
  }
}
// ii
// VIEWPORTS sm and below
//
//
@include media-breakpoint-down(sm) {
  .ii {
    // Structure for the body
    .body {
      position:absolute;
      bottom:0;
      width:100%;
      height: 100%;
      display:flex;
      flex-grow:1;
      justify-content: space-between;
      flex-direction: column;
      background: $ii-background;
    }
    .description {
      padding:$ii-padding;
      flex: 1 1 auto;
      display: inline-flex;
      flex-direction: column;
      justify-content: center;
      flex-wrap: wrap;

      p {
        overflow:scroll;
        margin:0;
      }
    }
    .details {
      flex:0;
      padding:$ii-padding;
    }
    .share {
      flex:0;
      padding:$ii-padding;
    }

    // Toggle button
    .m-toggle {
      display:block;
      position: absolute;
      bottom:16px;
      right: 16px;
      width: $ii-m-toggle-size;
      height: $ii-m-toggle-size;
      z-index:4;
      opacity:0.5;
    }
    &.m-hide {
      // Toggle button styling
      .m-toggle {
        @include svg-icon('info', $size: $ii-m-toggle-size, $defineWidth: false);
      }
      // Toggle on/off
      .body {
        display:none;
      }
    }
    &.m-show {
      // Toggle button styling
      .m-toggle {
        @include svg-icon('close', $size: $ii-m-toggle-size, $defineWidth: false);
      }
      // Toggle on/off
      .body {
        display:flex;
      }
    }
  }
}

// ii
// Social media icons
//
.share {

  .social {
    // Force the social icons to a consistent dimension
    width:$ii-share-size;
    height:$ii-share-size;
    background-size:$ii-share-size;
    margin:0 $ii-share-margin;
  }

  // Settings for viewports SM and higher
  //
  @include media-breakpoint-up(sm) {
    position: absolute;
    right: 8px;
    bottom: 110%;
    opacity: .5;
    padding: 4px 16px;
    cursor: pointer;
    display:flex;

    // Toggle button
    .share-toggle {
      @include svg-icon('export', $size: $ii-share-size, $defineWidth: false);
      width:$ii-share-size;
      height:$ii-share-size;
      margin:0 $ii-share-margin;
    }
    // Toggle functionality
    &.share-hide {
      .social {
        // Hide the icons
        display:none;
      }
    }
    &.share-show {
      .social {
        // Show the icons
        display:block;
      }
      // Then make the whole box stand out more
      opacity:1;
      background:rgba(51, 51, 51, 0.35);
      border-radius: .25rem;
    }
  }
  // Settings for viewports SM and below (mobile)
  //
  @include media-breakpoint-down(sm) {
    .share-toggle {
      display:none;
    }
  }
}


// A hidden element which helps the script know
// when the end of the image gallery has been reached.
.end-of-images {
  display:block;
  content:'';
  width:100%;
  height:50px;
  position:relative;
  top:-50px;
  visibility:hidden;
  margin:0;
  padding:0;
}
