/* PAGE SPECIFIC */
/*
 * photography.html layout pages
 */

.images h2 {
  text-align: right;
  position: relative;
  top: 50px;
  margin-top: -50px;
  color: white;
}

.image {
  position: relative;
}

.image-file {
  @include fluid;
  display: block;
  margin: 0 auto;
}

.ii {
  /* Bootstrap: .card-img-overlay MODIFIED*/
  display: none;
  width: 400px;
  position: absolute;
  top: auto;
  right: 6rem;
  bottom: 40%;
  left: auto;
  padding: 1.25rem;
  color: #ddd;

  a {
    color: white;
  }
}

.ii-body {
  /* Bootstrap: .popover MODIFIED */
  max-width: 552px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  font-size: .875rem;
  word-wrap: break-word;
  background-color: rgba(51, 51, 51, 0.75);
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: .3rem;

  /* Bootstrap: .bs-popover-left */
  margin-right: 10px;
}

.ii-desc {
  padding: 9px 14px;
}

.ii-details {
  /* Bootstrap: .popover-header */
  padding: 8px 14px;
  margin-bottom: 0;
  font-size: .8rem;
  color: inherit;
  background-color: #222;
}

.ii-share-links {
  font-weight: 300;
}

.ii-icon {
  width: 4em;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 3rem;
  right: 0;
  left: auto;
  cursor: pointer;
  z-index: 1025;
  background: rgba(0, 0, 0, 0.15);
  @include svg-icon('info');
  opacity: 0.5;
  @include drop-shadow(0.5);

  &:hover, &:active {
    opacity: 1;
  }
}

.ii-icon-active {
  opacity: 1;
}
/* xl and above */
@include media-breakpoint-up(xl) {
  .images {
    max-width: 1280px;
    margin: 0 auto;
    display: block;
  }
}

/* lg and above */
@include media-breakpoint-up(lg) {
  .ii-icon {}
}

/* above sm */
@include media-breakpoint-up(xs) {
  .ii-icon {}
}

/* sm and below */
@include media-breakpoint-down(xs) {
  .ii {
    width: 100%;
    top: auto;
    right: 0;
    bottom: 0;
    left: auto;
    padding: 0;
    margin: 0;
  }

  .ii-body {
    margin: 0;
  }

  .ii-icon {
    background-position: center 95%;
    background-repeat: no-repeat;
    background-size: 24px 24px;
    opacity: .15;
  }

  .ii-details {
    background-color: rgba(0, 0, 0, 0);
  }
}

.welcome {
  max-width: 1280px;
  margin: 0 auto;
  text-align: right;

  .jumbotron {
    text-align: right;
    background: rgba(147, 206, 222, 1);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(147, 206, 222, 1)), color-stop(41%, rgba(117, 189, 209, 1)), color-stop(100%, rgba(73, 165, 191, 1)));
    background: linear-gradient(to right, rgba(147, 206, 222, 1) 0%, rgba(117, 189, 209, 1) 41%, rgba(73, 165, 191, 1) 100%);
  }

  .welcome-col {
    padding-right: 2rem;
  }

  p {
    color: white;
    @include drop-shadow(0.5);
  }
}
