/* PAGE SPECIFIC */
/*
 * photography.html layout pages
 */

 /* Nav subcategory */
 /* Transparent bar that occupies
 * same space as subcat nav.
 * JS hover means it will show/hide
 * the subcat nav. */

 $sc-height: 60px;
 $sc-height-mobile: 240px;
 .sc-hover {
   position:fixed;
   width:100%;
   height:$sc-height;
   bottom:0;
   left:0;
   z-index:1025;
   background:none;
 }
 .sc {
   /* Bootstrap: .fixed-bottom [MODIFIED] */
   position: fixed;
   top:auto;
   bottom:0;
   left: 0;
   right: 0;
   z-index: 1030;
   /* Bootstrap: .justify-content-center */
   justify-content: center !important;

   transition: all 0.4s ease-in-out;
   height:$sc-height;
   background: rgba(0, 0, 0, .5);
   padding:.5rem;

   &.sc-up {
     transform:translate(0px, $sc-height);
   }

   .nav-link {
     display:inline-block;
     margin:.15rem 0;

     color:#fff;
     @include drop-shadow(.9);
     font-weight:500;
     cursor:pointer;
     background:rgba(255,255,255,.075);
   }
   .nav-link.active,
   .nav-link:hover {
     background:rgba(255,255,255,.25);
     border-radius:.25rem;
     color:#fff;
   }
   // Display links that are not active
   .nav-link.notactive {
     display:inline-block;
   }
   @include media-breakpoint-down(xs) {
     background:none;
     height:auto; //$sc-height-mobile;
     transform:translate(0px, 0px);

     &.sc-up {
       // For mobile, don't even hide this
       transform:translate(0px, 0px);
     }
     .nav-link {
       width:100%;
       display:block;
       padding:.5rem .2rem;
       text-align:center;
     }
     // Hide links that are not active
     .nav-link.notactive {
       display:none;
     }
     // Show links that are not active, if
     // sc has this toggleable class
     &.sc-mobile-show .nav-link.notactive {
       display:inline-block;
     }
   }
 }






 //
 //
 // Primary page layout
 //
 //
.images h2 {
  text-align: right;
  position: relative;
  top: 50px;
  margin-top: -50px;
  color: white;
}

.image {
  position: relative;
}

.image-file {
  @include fluid;
  display: block;
  margin: 0 auto;
}

.ii {
  /* Bootstrap: .card-img-overlay MODIFIED*/
  display: none;
  width: 400px;
  position: absolute;
  top: auto;
  right: 6rem;
  bottom: 40%;
  left: auto;
  padding: 1.25rem;
  color: #ddd;

  a {
    color: white;
  }
}

.ii-body {
  /* Bootstrap: .popover MODIFIED */
  max-width: 552px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  font-size: .875rem;
  word-wrap: break-word;
  background-color: rgba(51, 51, 51, 0.75);
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: .3rem;

  /* Bootstrap: .bs-popover-left */
  margin-right: 10px;
}

.ii-desc {
  padding: 9px 14px;
}

.ii-details {
  /* Bootstrap: .popover-header */
  padding: 8px 14px;
  margin-bottom: 0;
  font-size: .8rem;
  color: inherit;
  background-color: #222;
}

.ii-share-links {
  font-weight: 300;
}

.ii-icon {
  width: 4em;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 3rem;
  right: 0;
  left: auto;
  cursor: pointer;
  z-index: 1025;
  background: rgba(0, 0, 0, 0.15);
  @include svg-icon('info', $defineWidth: false);
  opacity: 0.5;
  @include drop-shadow(0.5);

  &:hover, &:active {
    opacity: 1;
  }
}

.ii-icon-active {
  opacity: 1;
}
/* xl and above */
@include media-breakpoint-up(xl) {
  .images {
    max-width: 1280px;
    margin: 0 auto;
    display: block;
  }
}

/* lg and above */
@include media-breakpoint-up(lg) {
  .ii-icon {}
}

/* above sm */
@include media-breakpoint-up(xs) {
  .ii-icon {}
}

/* sm and below */
@include media-breakpoint-down(xs) {
  .ii {
    width: 100%;
    top: auto;
    right: 0;
    bottom: 0;
    left: auto;
    padding: 0;
    margin: 0;
  }

  .ii-body {
    margin: 0;
  }

  .ii-icon {
    background-position: center 95%;
    background-repeat: no-repeat;
    background-size: 24px 24px;
    opacity: .15;
  }

  .ii-details {
    background-color: rgba(0, 0, 0, 0);
  }
}

// Footer
$footer-transition: all 0.15s ease;
$footer-mobile-spacing: 0.5rem;
$footer-subcat-color-default: #CCCCCC;
$footer-subcat-colors: (
    people:           #269AA5
  , environment:      #83A352
  , photojournalism:  #D6B443
  , urban:            #2B56F1
  , architecture:     #F26911
);
.photography-footer {
  min-height:680px;
  margin:2rem auto;

  .row {
    @include media-breakpoint-down(md) {
      padding:$footer-mobile-spacing;
    }
  }

  .subcategory {
    @include make-col-ready();
    @include make-col(2);
    @include media-breakpoint-down(md) {
      // On mobile: make them stack.
      @include make-col(12);
    }
    margin:1rem;
    padding:0;
    text-align:center;

    min-height:480px;
    max-height:480px;
    @include media-breakpoint-down(md) {
      // On mobile: display as blocks on top of each other.
      // Margin and height fixes required.
      min-height:auto;
      height:6rem;
      padding:0;
      margin:0;
      margin-top:$footer-mobile-spacing;
      margin-bottom:$footer-mobile-spacing;
    }

    flex: 1;
    display: flex;
    align-items: center;
    position:relative;

    border-radius:1rem;
    border:3px solid $footer-subcat-color-default;
    transition:$footer-transition;

    .title {
      width:100%;
      text-align:center;
      font-size:1.2rem;
      font-weight:300;
      transition:$footer-transition;
      padding:.5rem;
    }
    // Colors.
    @each $cat, $color in $footer-subcat-colors {
      // Change to color of that subcat.
      &.#{$cat} {
        border-color:$color;
        color:$color;
      }
      &.#{$cat}:hover {
        border-color:$footer-subcat-color-default;
        color:$footer-subcat-color-default;
      }
    }
    // Block color for active
    a {
      // Make the whole box clickable.
      display:block;
      position:absolute;
      top:0;
      left:0;
      width:100%;
      height:100%;
    }
  }

}
