/*
 * Project structure
 * Represents a creative project.
 * For use on video.html and design.html
 * Shows thumbnails in a super wide horizontal scroll box
 * And accompanying information/details below it.
 */

.projects {
  @include make-container();
  padding-top: 50px;
  margin: auto 0;
  padding: auto 0;

  @include media-breakpoint-down(md) {
    // On mobile: less padding in general,
    // except for the very top.
    margin: 0 auto;
    padding: 0;
    padding-top: 50px;
  }
}

.project {
  @include make-row();
  margin: 2rem auto;
  margin-bottom: 4.5rem;
  @include media-breakpoint-down(md) {
    // On mobile:
    // no margins on the sides.
    margin-left:0;
    margin-right:0;
    // bottom margins spacing out each project from each other.
    margin-bottom:2rem;
    // And just no top margin for safety reasons.
    margin-top:0;
  }


  // Section 2: Gallery box.
  section.gallery {
    @include make-col-ready();
    @include make-col(12);

    // On mobile: less padding.
    @include media-breakpoint-down(md) {
      padding:0;
    }

    .gallery-primary {
      @include make-col-ready();
      @include media-breakpoint-up(xs) {
        // Full width of display
        @include make-col(12);
      }
      @include media-breakpoint-up(md) {
        // Full width of display, with a bit of left lip
        @include make-col-offset(1);
        @include make-col(11);
      }
      @include media-breakpoint-up(lg) {
        @include make-col-offset(2);
        @include make-col(10);
      }
      @include media-breakpoint-up(xl) {
      }
    }

    .gallery-thumbs {
      @include make-col-ready();
      @include media-breakpoint-up(xs) {
        // Full width of display
        @include make-col(12);
        padding-top:7.5px;
        padding-bottom:7.5px;
        padding-left:22.5px;
        padding-right:15px;
      }
      @include media-breakpoint-up(md) {
        // Full width of display, with a bit of left lip
        @include make-col-offset(1);
        @include make-col(11);
        padding-left:15px;
      }
      @include media-breakpoint-up(lg) {
        @include make-col-offset(2);
        @include make-col(6);
      }
      @include media-breakpoint-up(xl) {
      }

      .link.secondary {
        text-decoration: none;
        .gallery-thumb {
          width: 120px;
          @include border-radius-specific($amount: 0.25rem);
          margin:0.1rem;
        }
      }
    }

    .gallery-primary {
      img.gallery-thumb {
        @include border-radius-specific($amount: 0.15rem);
      }
    }
    // Create a video Play icon on the first thumb
    .gallery-primary .link.video {
      display: inline-block;
      position: relative;
      width:auto;
    }
    .gallery-primary .icon-primary-play {
      display: block;
      position: absolute;
      top: 50%;
      bottom: 50%;
      left: 50%;
      right: 50%;
      width: 100%;
      height: 100%;
      transform: translate(-50%, -50%);
      background: rgba(0, 0, 0, 0.1);
      @include svg-icon(play, 64px, $defineWidth: false);
      opacity: 0.25;
      transition: all .15s ease;
      z-index:10;

      &:hover {
        opacity: 1;
      }
    }

    // Make first gallery image fluid
    // but only on small viewports
    @include media-breakpoint-down(md) {
      .gallery-primary {
        .gallery-thumb {
          @include fluid;
        }
      }
    }




  }

  // Section 3: About box.
  $about-border-radius: .2rem;

  section.about {
    @include make-col-ready();
    @include media-breakpoint-up(xs) {
      @include make-col(12);
    }
    @include media-breakpoint-up(md) {
      @include make-col(8);
      @include make-col-offset(1);
    }
    @include media-breakpoint-up(lg) {
      @include make-col(8);
      @include make-col-offset(2);
    }
    @include media-breakpoint-up(xl) {
      @include make-col(6);
      @include make-col-offset(2);
    }
    background: rgba(28, 28, 28, 1);
    border-radius:$about-border-radius;
    padding: 1rem;
    margin-top:.75rem;
    padding-top: 0;

    font-size:0.95rem;

    .title {
      display: block;
      margin: -1rem;
      background: rgba(0, 0, 0, .2);
      padding:.5rem 1rem;
      margin-top: 0;
      border-top-left-radius:$about-border-radius;
      border-top-right-radius:$about-border-radius;
      margin-bottom:1rem;
      a {
        // The actual title is here.
        color: inherit;
        font-size:1.2rem;
      }
    }
    .date {
      /* Bootstrap: .badge [MODIFIED] */
      display: inline-block;
      margin-top: 5px;
      padding: .25em .4em;
      line-height: 1;
      vertical-align: baseline;
      text-align: center;
      white-space: nowrap;
      float: right;
      color: rgb(164, 171, 178);
      border-radius: .25rem;
      background-color: rgba(134, 142, 150, 0.25);
      text-transform: uppercase;
      font-size: .75rem;

      // On mobile: show short month name ('Oct').
      &.month-full {
        display:none;
      }
      &.month-short {
        display:inline-block;
      }
      @include media-breakpoint-up(sm) {
        // On sm and above: show full month name ('October').
        &.month-full {
          display:inline-block;
        }
        &.month-short {
          display:none;
        }
      }
    }
    hr {
      margin: 0;
      margin-top: 1rem;
      border: 0;
      border-bottom: 1px solid rgba(204, 204, 204, 0.05);
    }
    .details {
      list-style: none;
      padding: 0;
      color: #717171;
      margin:auto;
    }
    .genre {
      color: #717171;
      margin:.5rem auto;
      margin-bottom: 1rem;
    }
    .action {
      // This class is in addition to .btn which is already fixed on the element
      display: inline-block;
      margin-top:1rem;
      background: rgb(53, 71, 88);
      @include media-breakpoint-down(sm) {
        // On mobile: make the button occupy 100% from left-to-right screenwise
        width:100%;
      }
    }
  } // End section.about

} // End .project

/*
 * video.html
 * Video-specific changes to the project structure.
 */

.video {
  .gallery-primary {
    .gallery-thumb {
      max-width: 940px;
    }
  }
  .credit {
    display: none;
  }
  .license {
    a {
      color: inherit;
    }
  }
}

/*
 * design.html
 * Specific changes.
 */

.designs {
   padding-top: 2rem;
 }

.design {
  .gallery {
    .gallery-primary {
      .gallery-thumb {
        // On Design, use full resolution image,
        // but constrain its CSS presentation size.
        max-width: 627px;
      }
    }
  }
}
