html,
body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
}
body {
  padding-top: 56px;
  color: #5d5d5d;
  background-color: #e6e6e6;
}
nav {
    background-color:#0b121a;
}
/* SITEWIDE NAVIGATOR */
.i-caret {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' width='24' height='24' fill='none' stroke='#DDDDDD' stroke-linecap='round' stroke-linejoin='round' stroke-width='2'%3E%3Cpath d='M30 10 L16 26 2 10 Z' /%3E%3C/svg%3E") !important;
}


/* All anchor links are offsetted by 70px */
/* which is the height of the navbar. */
:target:before {
  content:"";
  display:block;
  height:60px;
  margin:-60px 0 0;
}

/* SUBCATEGORY NAVIGATOR */
/* for: desktop */
.subcat-wrapper {
  /* Bootstrap .fixed-top MODIFIED */
  position: fixed;
  top:auto;
  bottom:50px;
  width:100%;
  margin:0 auto;
  z-index:1030;
}
.subcat {
  width:50%;
  margin-left:6.5rem;
  text-align:center;
  z-index:1030;
  
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.subcat-toggle {
  font-size:1.5rem;
  color:white;
  background:rgba(255,255,255,0.3);
  -webkit-filter: drop-shadow( 1px 1px 1px #000 );
  filter: drop-shadow( 1px 1px 1px #000 );
  border:none;
  border-radius:.5rem;
  padding:.75rem 1.25rem;
}
.subcat-toggle:focus {
  border:none;
  outline:none;
}
.subcat-toggle:hover {
  cursor:pointer;
  color:white;
  text-decoration:underline;
}
#subcat-jump-top {
  border-top-right-radius:0;
  border-bottom-right-radius:0;
}
#subcat-toggle-button {
  border-top-left-radius:0;
  border-bottom-left-radius:0;
}
.subcat-jump-top-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' width='20' height='20' fill='none' stroke='#EFEFEF' stroke-linecap='round' stroke-linejoin='round' stroke-width='3'%3E%3Cpath d='M6 10 L16 2 26 10 M16 2 L16 30' /%3E%3C/svg%3E") !important;
display: inline-block;
width: 1em;
height: 1em;
vertical-align: middle;
content: "";
background: no-repeat center center;
background-size: 100% 100%;
}
.subcat-menu {
  font-size: 1rem;
  text-align: left;
  list-style: none;
  background:rgba(255,255,255,0.3);
  -webkit-filter: drop-shadow( 1px 1px 1px #000 );
  filter: drop-shadow( 1px 1px 1px #000 );
  border:none;
  border-radius:.5rem;
  
  display:none;
  width:173px;
  position:absolute;
  top:auto;
  bottom:70px;
  left:164px;
  right:auto;
}
.subcat-menu .item {
  display: block;
  padding:.5rem 1.25rem;
  width: 100%;
  font-weight:500;
  color:white;
}
.subcat-menu .item:first-child {
  border-top-left-radius:.5rem;
  border-top-right-radius:.5rem;
}
.subcat-menu .item:last-child {
  border-bottom-left-radius:.5rem;
  border-bottom-right-radius:.5rem;
}
.subcat-menu .item-active {
  background:rgba(0,0,0,.5);
}

/* for: mobile */
@media (max-width:575px) {
  .subcat-wrapper {
    bottom:20px;
  }
  .subcat {
    width:85%;
    margin:0 auto;
  }
  .subcat-menu {
  width:173px;
  position:absolute;
  top:auto;
  bottom:50px;
  left:50px;
  right:auto;
  }
  #subcat-toggle-button {
    font-size:1.25rem;
  }
  .subcat-toggle {
    padding:.25rem .75rem;
  }
}
/* for: no-javascript */
.no-js #subcat-toggle-button {
  display:none;
}
.no-js #subcat-jump-top {
  border-top-right-radius:.5rem;
  border-bottom-right-radius:.5rem;
}




/* PAGE SPECIFIC */
/* 
 * photography.html layout pages 
 */
.images {
}
.images h2 {
  text-align:right;
  position:relative;
  top:50px;
  margin-top:-50px;
  color:white;
}
.image {
  position:relative;
}
.image-file {
  /* Bootstrap: .img-fluid */
  max-width:100%;
  display:block;
  margin:0 auto;
  height:auto;
}
.ii {
  /* Bootstrap: .card-img-overlay MODIFIED*/
  display:none;
  width:400px;
  position: absolute;
  top:auto;
  right:6rem;
  bottom:40%;
  left:auto;
  padding: 1.25rem;
  color:#ddd;
}
.ii a {
  color:white;
}
.ii-body {
  /* Bootstrap: .popover MODIFIED */
  max-width: 552px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  font-size: .875rem;
  word-wrap: break-word;
  background-color: rgba(51,51,51,.75);
  background-clip: padding-box;
  border: 1px solid rgba(0,0,0,.25);
  border-radius: .3rem;
  
  /* Bootstrap: .bs-popover-left */
  margin-right: 10px;
}
.ii-desc {
  padding: 9px 14px;
}
.ii-details {
  /* Bootstrap: .popover-header */
  padding: 8px 14px;
  margin-bottom: 0;
  font-size: .8rem;
  color: inherit;
  background-color: #222;
}
.ii-share-links {
  font-weight:300;
}
.ii-icon {
  width:4em;
  height: 100%;
  position: absolute;
  top:0;
  bottom: 3rem;
  right: 0;
  left: auto;
  cursor: pointer;
  z-index: 1050;
  background: rgba(0,0,0,.15) url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' width='24' height='24' fill='none' stroke='rgba(255,255,255,1)' stroke-linecap='round' stroke-linejoin='round' stroke-width='2'%3E%3Cpath d='M16 14 L16 23 M16 8 L16 10'%3E%3C/path%3E%3Ccircle cx='16' cy='16' r='14'%3E%3C/circle%3E%3C/svg%3E");
  background-position: center center;
  background-repeat: no-repeat;
  background-size:32px 32px;
  opacity:0.5;

  -webkit-filter: drop-shadow( 1px 1px 1px rgba(0,0,0,.5) );
  filter: drop-shadow( 1px 1px 1px rgba(0,0,0,.5) );
}
.ii-icon:hover,
.ii-icon:active,
.ii-icon-active {
  opacity:1;
}

  .arrow {
  }

  .arrow::before,
  .arrow::after {
    position: absolute;
    display: block;
    border-color: transparent;
    border-style: solid;
  }

  .arrow::before {
    content: "";
    border-width: 1px;
  }
  .arrow::after {
    content: "";
    border-width: 1px;
  }

/* xl and above */
@media (min-width: 1200px) { 
  .images {
    max-width:1280px;
    margin:0 auto;
    display:block;
  }
}
/* lg and above */
@media (min-width:992px) {
  .ii-icon {
  }
}
/* above sm */
@media (min-width:577px) {
  .ii-icon {
  }
}
/* sm and below */
@media (max-width:575px) {
  .ii {
    width: 100%;
    top: auto;
    right: 0;
    bottom:0;
    left: auto;
    padding: 0;
    margin: 0;
  }
  .ii-body {
    margin:0;
  }
  .ii-icon {
    background-position: center 95%;
    background-repeat: no-repeat;
    background-size:24px 24px;
    opacity:.15;
  }
  .ii-details {
    background-color:rgba(0,0,0,0);
  }
}

.welcome {
  max-width:1280px;
  margin:0 auto;
  text-align:right;
}
.welcome .jumbotron {
  text-align:right;
  background: rgba(147,206,222,1);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(147,206,222,1)), color-stop(41%, rgba(117,189,209,1)), color-stop(100%, rgba(73,165,191,1)));
background: linear-gradient(to right, rgba(147,206,222,1) 0%, rgba(117,189,209,1) 41%, rgba(73,165,191,1) 100%);
}
.welcome .welcome-col {
  padding-right:2rem;
}
.welcome p {
    color:white;
    -webkit-filter: drop-shadow( 1px 1px 1px rgba(0,0,0,.5) );
  filter: drop-shadow( 1px 1px 1px rgba(0,0,0,.5) );
}

/* 
 * about.html 
 */
body.page-about {
  background-color:#fcfcfc;
  color:#212529;
}

.about-para {
  padding-top:2rem;
}
.about-image {
  padding:2rem;
  padding-bottom:0;
}
.about-contact {
}
@media (min-width:1200px) {
  .about-contact {
  }
}
.about-social {
}
@media (min-width:1200px) {
  .about-contact {
  }
}
.about-btn-list {
  list-style-type:none;
  margin:0;
  padding:0;
}
.about-btn-list li {
  display:block;
  float:left;
  background:#ddd;
  border-radius:.5rem;
  padding:.5rem;
  margin:.25rem;
  margin-left:0rem;
  text-align:center;
}
@media (max-width:575px) {
  .about-btn-list li {
    width:100%;
  }
}
footer {
  font-size:.6rem;
  color:grey;
}



/* 
 * design.html 
 */

body.page-design .container {
  padding-top:2rem;
}

.scroll-box-x {
  display:block;
  width:4000px;
  white-space:nowrap;
  overflow-x:scroll;
}
.scroll-box-x img {
  display:inline-block;
}



/*
 * video.html
 */
.videos {
  padding-top:50px;
}
.video {
  margin:2rem auto;
  font-size:80%;
}
.video:first-child {
  margin-top:0;
}

.video-title a {
  color:inherit;
  text-shadow: 1px 1px 0 rgba(140,140,140,0.5);
}
.video-date {
  /* Bootstrap: .badge [MODIFIED] */
  display: inline-block;
  margin-top:5px;
  padding: .25em .4em;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25rem;

  
  background-color: rgba(134, 142, 150,.5);
  text-transform:uppercase;
  float:left;
  font-size:.75rem;
  text-shadow: 1px 1px 0 rgba(140,140,140,1);
}
.video-about {
  text-align:right;
  padding-right:1.5rem;
  text-shadow: 1px 1px 0 rgba(140,140,140,0.1);
}
.video-description {
  line-height:1rem;
  padding-top:1rem;
}
.video-about-details {
  list-style:none;
  padding:0;
  color: #868e96; /* Bootstrap .text-muted */
}
.video-credit {
  display:none;
}
.video-credit-director {
  font-style:italic;
}
.video-license {
  font-size:.75rem;
  padding:.5rem 0;
}
.video-license a {
  color:inherit;
}
.video-watch {
  margin:1rem 0;
}
.video-thumbs {
  overflow:scroll;
  white-space:nowrap;
  padding-bottom:1.5rem;
}
.video-thumb-play {
  display:inline-block;
  position:relative;
}
.video-thumb-play-icon {
  display: block;
  position: absolute;
  top:50%;
  bottom:50%;
  left:50%;
  right:50%;
  
  width:100%;
  height:100%;
  transform: translate(-50%, -50%);
  background:rgba(0,0,0,0.1);
  background:rgba(0,0,0,0.1) url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-16 -16 64 64' width='64' height='64' fill='none' stroke='rgba(255,255,255,1)' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5'%3E%3Ccircle cx='14' cy='16' r='22'%3E%3C/circle%3E%3Cpath d='M10 2 L10 30 24 16 Z'%3E%3C/path%3E%3C/svg%3E");
  background-position: center center;
  background-repeat: no-repeat;
  background-size:64px 64px;
  opacity:0.1;
  
  transition:all .15s ease;
}
.video-thumb-play-icon:hover {
  opacity:1;
}
.video-thumb {
  width:75%;
  border-radius:.2rem;
}
/* Default order: About, then thumbs */
.video-about {
  -ms-flex-order: 2;
  order: 2;
}
.video-thumbs {
  -ms-flex-order: 1;
  order: 1;
}
/* md and above */
@media (min-width:992px) {
  /* Thumbs, then about underneath */
  .video-about {
    -ms-flex-order: 1;
    order: 1;
  }
  .video-thumbs {
    -ms-flex-order: 2;
    order: 2;
  }
}
/* below lg */
@media (max-width:994px) {
  .videos {
    margin:0 auto;
    padding:0;
    padding-top:50px;
  }
  .video {
    margin:0;
  }
  .video-thumbs {
    padding:0;
  }
  .video-about {
    padding:2rem 1rem;
    text-align:left;
  }
  .video-date {
    float:right;
  }
}
/* below sm */
@media (max-width:575px) {
  .video-thumb {
    width:90%;
  }
  .video-watch {
    width:100%;
  }
}