---
---
@import "custom_variables";
@import "bootstrap/bootstrap";

html {
  overflow-x: hidden;
  /* Prevent scroll on narrow devices */
}

body {
  overflow-x: hidden;
  /* Prevent scroll on narrow devices */

  padding-top: 56px;
  color: #70777d;

  /* background-color: #e6e6e6; */
  background: #111;
}

a {
  color: #84b0d8;

  &:hover {
    color: #b9c6d1;
  }
}

/*
 * Nav that is shown sitewide
 */

nav#nav-sitewide {
  background: rgba(17, 17, 17, 0.85);
}
#nav-sitewide {
  .nav-item {
    transition: all .15s ease-in-out;
    &:hover, &.active {
      border-bottom: 1px solid rgba(255, 255, 255, 0.25);
    }
  }
}

/*!
 * Bytesize icons by http://danklammer.com/bytesize-icons/
 */
$i-caret: "data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' width='24' height='24' fill='none' stroke='#DDDDDD' stroke-linecap='round' stroke-linejoin='round' stroke-width='2'%3E%3Cpath d='M30 10 L16 26 2 10 Z' /%3E%3C/svg%3E";
$i-arrow-top: "data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' width='20' height='20' fill='none' stroke='#EFEFEF' stroke-linecap='round' stroke-linejoin='round' stroke-width='3'%3E%3Cpath d='M6 10 L16 2 26 10 M16 2 L16 30' /%3E%3C/svg%3E";
$i-info: "data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' width='24' height='24' fill='none' stroke='rgba(255,255,255,1)' stroke-linecap='round' stroke-linejoin='round' stroke-width='2'%3E%3Cpath d='M16 14 L16 23 M16 8 L16 10'%3E%3C/path%3E%3Ccircle cx='16' cy='16' r='14'%3E%3C/circle%3E%3C/svg%3E";
$i-arrow-left: "data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' width='64' height='64' fill='none' stroke='#CCC' stroke-linecap='round' stroke-linejoin='round' stroke-width='2'%3E%3Cpath d='M10 6 L2 16 10 26 M2 16 L30 16'%3E%3C/path%3E%3C/svg%3E";
/* Modified from original to add a circle */
$i-play: "data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-16 -16 64 64' width='64' height='64' fill='none' stroke='rgba(255,255,255,1)' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5'%3E%3Ccircle cx='14' cy='16' r='22'%3E%3C/circle%3E%3Cpath d='M10 2 L10 30 24 16 Z'%3E%3C/path%3E%3C/svg%3E";
.i-caret {
  background-image: url($i-caret) !important;
}

/* xs (below sm) */
@include media-breakpoint-down(xs) {
  /* All anchor links are offsetted by 70px */
  /* which is the height of the navbar. */

  :target:before {
    content: "";
    display: block;
    height: 60px;
    margin: -60px 0 0;
  }

  .nav-item {
    &:hover, &.active {
      border: 0;
    }
  }
}

.sc {
  bottom:60px;
}

/* Nav for SUBCATEGORIES */
/* for: desktop */

.subcat-wrapper {
  /* Bootstrap .fixed-top MODIFIED */
  position: fixed;
  top: auto;
  bottom: 50px;
  width: 100%;
  margin: 0 auto;
  z-index: 1030;
}

.subcat {
  width: 50%;
  margin-left: 6.5rem;
  text-align: center;
  z-index: 1030;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.subcat-toggle {
  font-size: 1.5rem;
  color: #eee;
  background: rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(1px 1px 1px #000);
  filter: drop-shadow(1px 1px 1px #000);
  border: none;
  border-radius: .5rem;
  padding: .75rem 1.25rem;
  transition: all .1s ease;

  &:hover {
    background: rgba(255, 255, 255, 0.25);
    cursor: pointer;
  }
}

.subcat-toggle-button-label {
  transition: all .1s ease;
}

.subcat-toggle:hover .subcat-toggle-button-label {
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

#subcat-jump-top {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

#subcat-toggle-button {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.subcat-jump-top-icon {
  background-image: url($i-arrow-top) !important;
  display: inline-block;
  width: 1em;
  height: 0.9em;
  vertical-align: middle;
  content: "";
  background: no-repeat center center;
  background-size: 100% 100%;
}

.subcat-menu {
  font-size: 1rem;
  text-align: left;
  list-style: none;
  background: rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(1px 1px 1px #000);
  filter: drop-shadow(1px 1px 1px #000);
  border: none;
  border-radius: .5rem;
  display: none;
  width: 173px;
  position: absolute;
  top: auto;
  bottom: 70px;
  left: 164px;
  right: auto;

  .item {
    display: block;
    padding: .5rem 1.25rem;
    width: 100%;
    font-weight: 500;
    color: #eee;
    transition: all .1s ease;

    &:hover {
      background: rgba(0, 0, 0, 0.25);
      text-decoration: none;
    }

    &:first-child {
      border-top-left-radius: .5rem;
      border-top-right-radius: .5rem;
    }

    &:last-child {
      border-bottom-left-radius: .5rem;
      border-bottom-right-radius: .5rem;
    }
  }

  .item-active {
    background: rgba(0, 0, 0, 0.5);
  }
}

@include media-breakpoint-down(xs) {
  .subcat-wrapper {
    bottom: 20px;
  }

  .subcat {
    width: 85%;
    margin: 0 auto;
  }

  .subcat-menu {
    width: 173px;
    position: absolute;
    top: auto;
    bottom: 50px;
    left: 50px;
    right: auto;
  }

  #subcat-toggle-button {
    font-size: 1.25rem;
  }

  .subcat-toggle {
    padding: .25rem .75rem;
  }
}

/* for: no-javascript */

.no-js {
  #subcat-toggle-button {
    display: none;
  }

  #subcat-jump-top {
    border-top-right-radius: .5rem;
    border-bottom-right-radius: .5rem;
  }
}

/* PAGE SPECIFIC */
/*
 * photography.html layout pages
 */

.images h2 {
  text-align: right;
  position: relative;
  top: 50px;
  margin-top: -50px;
  color: white;
}

.image {
  position: relative;
}

.image-file {
  /* Bootstrap: .img-fluid */
  max-width: 100%;
  display: block;
  margin: 0 auto;
  height: auto;
}

.ii {
  /* Bootstrap: .card-img-overlay MODIFIED*/
  display: none;
  width: 400px;
  position: absolute;
  top: auto;
  right: 6rem;
  bottom: 40%;
  left: auto;
  padding: 1.25rem;
  color: #ddd;

  a {
    color: white;
  }
}

.ii-body {
  /* Bootstrap: .popover MODIFIED */
  max-width: 552px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  font-size: .875rem;
  word-wrap: break-word;
  background-color: rgba(51, 51, 51, 0.75);
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: .3rem;

  /* Bootstrap: .bs-popover-left */
  margin-right: 10px;
}

.ii-desc {
  padding: 9px 14px;
}

.ii-details {
  /* Bootstrap: .popover-header */
  padding: 8px 14px;
  margin-bottom: 0;
  font-size: .8rem;
  color: inherit;
  background-color: #222;
}

.ii-share-links {
  font-weight: 300;
}

.ii-icon {
  width: 4em;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 3rem;
  right: 0;
  left: auto;
  cursor: pointer;
  z-index: 1050;
  background: rgba(0, 0, 0, 0.15) url($i-info);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 32px 32px;
  opacity: 0.5;
  -webkit-filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.5));
  filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.5));

  &:hover, &:active {
    opacity: 1;
  }
}

.ii-icon-active {
  opacity: 1;
}

.arrow {
  &::before, &::after {
    position: absolute;
    display: block;
    border-color: transparent;
    border-style: solid;
  }

  &::before, &::after {
    content: "";
    border-width: 1px;
  }
}

/* xl and above */
@include media-breakpoint-up(xl) {
  .images {
    max-width: 1280px;
    margin: 0 auto;
    display: block;
  }
}

/* lg and above */
@include media-breakpoint-up(lg) {
  .ii-icon {}
}

/* above sm */
@include media-breakpoint-up(xs) {
  .ii-icon {}
}

/* sm and below */
@include media-breakpoint-down(xs) {
  .ii {
    width: 100%;
    top: auto;
    right: 0;
    bottom: 0;
    left: auto;
    padding: 0;
    margin: 0;
  }

  .ii-body {
    margin: 0;
  }

  .ii-icon {
    background-position: center 95%;
    background-repeat: no-repeat;
    background-size: 24px 24px;
    opacity: .15;
  }

  .ii-details {
    background-color: rgba(0, 0, 0, 0);
  }
}

.welcome {
  max-width: 1280px;
  margin: 0 auto;
  text-align: right;

  .jumbotron {
    text-align: right;
    background: rgba(147, 206, 222, 1);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(147, 206, 222, 1)), color-stop(41%, rgba(117, 189, 209, 1)), color-stop(100%, rgba(73, 165, 191, 1)));
    background: linear-gradient(to right, rgba(147, 206, 222, 1) 0%, rgba(117, 189, 209, 1) 41%, rgba(73, 165, 191, 1) 100%);
  }

  .welcome-col {
    padding-right: 2rem;
  }

  p {
    color: white;
    -webkit-filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.5));
    filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.5));
  }
}

/*
 * about.html
 */

body.page-about {
  background-color: #fcfcfc;
  color: #212529;
}

.about-para {
  padding-top: 2rem;
}

.about-image {
  padding: 2rem;
  padding-bottom: 0;
}

.about-buttons {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    display: block;
    float: left;
    margin: .25rem;
    margin-left: 0rem;
  }
}

.about-button {
  display: block;
  text-align: center;
  padding: .5rem .75rem;
  background: #ddd;
  border-radius: .5rem;

  &:hover {
    background: #d0d0d0;
  }
}

@include media-breakpoint-down(xs) {
  .about-buttons li, .about-button {
    width: 100%;
  }
}

footer {
  font-size: .6rem;
  color: grey;
}

/*
 * design.html
 */

body.page-design .container {
  padding-top: 2rem;
}

/*
 * Project structure
 * Shows thumbnails in a super wide horizontal scroll box
 * And accompanying information/details below it.
 */

.projects {
  /* Container or Container-fluid */
  padding-top: 50px;
  margin: auto 0;
  padding: auto 0;
}

.project {
  margin: 2rem auto;
  margin-bottom: 4.5rem;
  font-size: 80%;

  &:first-child {
    margin-top: 0;
  }
}
/* 'pr' is a nickname for it */
.pr-title a {
  color: #868e96;
}

.pr-date {
  /* Bootstrap: .badge [MODIFIED] */
  display: inline-block;
  margin-top: 5px;
  padding: .25em .4em;
  line-height: 1;
  vertical-align: baseline;
  text-align: center;
  white-space: nowrap;
  float: right;
  color: rgb(164, 171, 178);
  border-radius: .25rem;
  background-color: rgba(134, 142, 150, 0.25);
  text-transform: uppercase;
  font-size: .75rem;
}

.pr-about {
  margin-top: 1rem;
  margin-left: 16.333334%;
}

.pr-about-wrapper {
  padding: 1.25rem;
  background: rgba(22, 22, 22, 1);
  border-radius: .2rem;
}

.pr-hr {
  margin: 0;
  margin-top: 1rem;
  border: 0;
  border-bottom: 1px solid rgba(204, 204, 204, 0.05);
}

.pr-description {
  line-height: 1rem;
  padding-top: 1rem;
  color: #70777d;
}

.pr-about-details {
  list-style: none;
  padding: 0;
  color: #5d5d5d;
}

.pr-button {
  color: #ddd;
}

.pr-thumbs {
  overflow-x: scroll;
  white-space: nowrap;
}

.pr-thumbs-slidebox {
  transition: all .5s ease-out;
}

.pr-thumbs-spacer {
  width: 16.66667%;
  height: 100%;
  display: inline-block;
  padding: 2rem;
  opacity: .25;
}

.pr-thumbs-slidebox {
  .pr-thumbs-spacer {
    background: rgba(20, 20, 20, 1) url($i-arrow-left);
    background-position: center right 30px;
    background-repeat: no-repeat;
    background-size: 32px 32px;
  }

  &:hover {
    transform: translate(-15px, 0);
    transition: .5s;
    opacity: 1;
  }
}
.pr-thumb {
  /* Bootstrap: .img-fluid */
  max-width: 100%;
  height: auto;
  width:100%;
  border-radius: .2rem;
}
.pr-thumb-container {
  height:540px;
  overflow:hidden;
  display:flex;
}
.pr-thumb-play {
  display: inline-block;
  position: relative;
  width:auto;
}
.pr-thumb-play-icon {
  display: block;
  position: absolute;
  top: 50%;
  bottom: 50%;
  left: 50%;
  right: 50%;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.1);
  background: rgba(0, 0, 0, 0.1) url($i-play);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 64px 64px;
  opacity: 0.1;
  transition: all .15s ease;

  &:hover {
    opacity: 1;
  }
}


/* below lg */
@include media-breakpoint-down(md) {
  .projects {
    margin: 0 auto;
    padding: 0;
    padding-top: 50px;
  }

  .project {
    margin: 0;
  }

  .pr-thumbs {
    padding: 0;
  }

  .pr-about {
    padding: 2rem 1rem;
    text-align: left;
  }

  .pr-date {
    float: right;
  }
}

/* below sm */
@include media-breakpoint-down(xs) {
  .pr-thumb {
    width: 80%;
  }

  .pr-watch {
    width: 100%;
  }

  .pr-about {
    margin: 0;
    margin-top: 0;
    margin-bottom: 3rem;
    padding: 0;
  }
}

.noanim {
  transition: none !important;
  transform: none !important;
  opacity: 1;

  .pr-thumbs-spacer, > *:hover {
    transition: none !important;
    transform: none !important;
    opacity: 1;
  }
}

/*
 * Customisations
 * video.html
 */

.video-credit {
  display: none;
}

.video-credit-director {
  font-style: italic;
}

.video-license {
  font-size: .75rem;
  padding: .5rem 0;

  a {
    color: inherit;
  }
}

/*
 * design.html
 */

.design {
  .pr-thumbs {
    width: auto;
    max-width: 100%;
  }

  .pr-thumb {
    width: 540px;
    height: auto;

    &.large {
      width: 900px;
      height: auto;
    }
    &.vertical {
      width:50%;
      height:auto;
    }
  }
}
