---
---
@import "custom_variables";
@import "bootstrap/bootstrap";

@mixin drop-shadow($transparency: 0.5) {
  -webkit-filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, $transparency));
  filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, $transparency));
}
@mixin fluid() {
  // From Bootstrap .img-fluid
  max-width:100%;
  height:auto;
}

html {
  overflow-x: hidden;
  /* Prevent scroll on narrow devices */
}

body {
  overflow-x: hidden;
  /* Prevent scroll on narrow devices */

  padding-top: 56px;
  color: #70777d;

  /* background-color: #e6e6e6; */
  background: #111;
}

a {
  color: #84b0d8;

  &:hover {
    color: #b9c6d1;
  }
}



/*
 * Nav that is shown sitewide
 */

nav#nav-sitewide {
  background: rgba(17, 17, 17, 0.85);
}
#nav-sitewide {
  .nav-item {
    transition: all .15s ease-in-out;
    &:hover, &.active {
      border-bottom: 1px solid rgba(255, 255, 255, 0.25);
    }
  }
}

/*!
 * Bytesize icons by http://danklammer.com/bytesize-icons/
 */
$i-caret: "data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' width='24' height='24' fill='none' stroke='#DDDDDD' stroke-linecap='round' stroke-linejoin='round' stroke-width='2'%3E%3Cpath d='M30 10 L16 26 2 10 Z' /%3E%3C/svg%3E";
$i-arrow-top: "data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' width='20' height='20' fill='none' stroke='#EFEFEF' stroke-linecap='round' stroke-linejoin='round' stroke-width='3'%3E%3Cpath d='M6 10 L16 2 26 10 M16 2 L16 30' /%3E%3C/svg%3E";
$i-info: "data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' width='24' height='24' fill='none' stroke='rgba(255,255,255,1)' stroke-linecap='round' stroke-linejoin='round' stroke-width='2'%3E%3Cpath d='M16 14 L16 23 M16 8 L16 10'%3E%3C/path%3E%3Ccircle cx='16' cy='16' r='14'%3E%3C/circle%3E%3C/svg%3E";
$i-arrow-left: "data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' width='64' height='64' fill='none' stroke='#CCC' stroke-linecap='round' stroke-linejoin='round' stroke-width='2'%3E%3Cpath d='M10 6 L2 16 10 26 M2 16 L30 16'%3E%3C/path%3E%3C/svg%3E";
/* Modified from original to add a circle */
$i-play: "data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-16 -16 64 64' width='64' height='64' fill='none' stroke='rgba(255,255,255,1)' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5'%3E%3Ccircle cx='14' cy='16' r='22'%3E%3C/circle%3E%3Cpath d='M10 2 L10 30 24 16 Z'%3E%3C/path%3E%3C/svg%3E";
.i-caret {
  background-image: url($i-caret) !important;
}

/* xs (below sm) */
@include media-breakpoint-down(xs) {
  /* All anchor links are offsetted by 70px */
  /* which is the height of the navbar. */

  :target:before {
    content: "";
    display: block;
    height: 60px;
    margin: -60px 0 0;
  }

  .nav-item {
    &:hover, &.active {
      border: 0;
    }
  }
}

/* Nav subcategory */
/* Transparent bar that occupies
* same space as subcat nav.
* JS hover means it will show/hide
* the subcat nav. */

$sc-height: 60px;
$sc-height-mobile: 240px;
.sc-hover {
  position:fixed;
  width:100%;
  height:$sc-height;
  bottom:0;
  left:0;
  z-index:1025;
  background:none;
}
.sc {
  /* Bootstrap: .fixed-bottom [MODIFIED] */
  position: fixed;
  top:auto;
  bottom:0;
  left: 0;
  right: 0;
  z-index: 1030;
  /* Bootstrap: .justify-content-center */
  justify-content: center !important;

  transition: all 0.4s ease-in-out;
  height:$sc-height;
  // background:rgba(255,255,255,.05);
  padding:.5rem;

  &.sc-up {
    transform:translate(0px, $sc-height);
  }

  .nav-link {
    display:inline-block;
    margin:.15rem 0;

    color:#fff;
    @include drop-shadow(.9);
    font-weight:500;
    cursor:pointer;
    background:rgba(255,255,255,.075);
  }
  .nav-link.active,
  .nav-link:hover {
    background:rgba(255,255,255,.25);
    border-radius:.25rem;
    color:#fff;
  }
  // Display links that are not active
  .nav-link.notactive {
    display:inline-block;
  }
  @include media-breakpoint-down(xs) {
    background:none;
    height:auto; //$sc-height-mobile;
    transform:translate(0px, 0px);

    &.sc-up {
      // For mobile, don't even hide this
      transform:translate(0px, 0px);
    }
    .nav-link {
      width:100%;
      display:block;
      padding:.5rem .2rem;
      text-align:center;
    }
    // Hide links that are not active
    .nav-link.notactive {
      display:none;
    }
    // Show links that are not active, if
    // sc has this toggleable class
    &.sc-mobile-show .nav-link.notactive {
      display:inline-block;
    }
  }
}

/*
 * Project structure
 * Shows thumbnails in a super wide horizontal scroll box
 * And accompanying information/details below it.
 */

.projects {
  /* Container or Container-fluid */
  padding-top: 50px;
  margin: auto 0;
  padding: auto 0;
}

.project {
  margin: 2rem auto;
  margin-bottom: 4.5rem;
  font-size: 80%;

  &:first-child {
    margin-top: 0;
  }
}
/* 'pr' is a nickname for it */
.pr-title a {
  color: #868e96;
}

.pr-date {
  /* Bootstrap: .badge [MODIFIED] */
  display: inline-block;
  margin-top: 5px;
  padding: .25em .4em;
  line-height: 1;
  vertical-align: baseline;
  text-align: center;
  white-space: nowrap;
  float: right;
  color: rgb(164, 171, 178);
  border-radius: .25rem;
  background-color: rgba(134, 142, 150, 0.25);
  text-transform: uppercase;
  font-size: .75rem;
}

.pr-about {
  margin-top: 1rem;
  margin-left: 16.333334%;
}

.pr-about-wrapper {
  padding: 1.25rem;
  background: rgba(22, 22, 22, 1);
  border-radius: .2rem;
}

.pr-hr {
  margin: 0;
  margin-top: 1rem;
  border: 0;
  border-bottom: 1px solid rgba(204, 204, 204, 0.05);
}

.pr-description {
  line-height: 1rem;
  padding-top: 1rem;
  color: #70777d;
}

.pr-about-details {
  list-style: none;
  padding: 0;
  color: #5d5d5d;
}

.pr-button {
  color: #ddd;
}

.pr-thumbs {
  overflow-x: scroll;
  white-space: nowrap;
}

.pr-thumbs-slidebox {
  transition: all .5s ease-out;
}

.pr-thumbs-spacer {
  width: 16.66667%;
  height: 100%;
  display: inline-block;
  padding: 2rem;
  opacity: .25;
}

.pr-thumbs-slidebox {
  .pr-thumbs-spacer {
    background: rgba(20, 20, 20, 1) url($i-arrow-left);
    background-position: center right 30px;
    background-repeat: no-repeat;
    background-size: 32px 32px;
  }

  &:hover {
    transform: translate(-15px, 0);
    transition: .5s;
    opacity: 1;
  }
}
.pr-thumb {
  @include fluid;
  width:100%;
  border-radius: .2rem;
}
.pr-thumb-container {
  height:540px;
  overflow:hidden;
  display:flex;
}
.pr-thumb-play {
  display: inline-block;
  position: relative;
  width:auto;
}
.pr-thumb-play-icon {
  display: block;
  position: absolute;
  top: 50%;
  bottom: 50%;
  left: 50%;
  right: 50%;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.1);
  background: rgba(0, 0, 0, 0.1) url($i-play);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 64px 64px;
  opacity: 0.1;
  transition: all .15s ease;

  &:hover {
    opacity: 1;
  }
}


/* below lg */
@include media-breakpoint-down(md) {
  .projects {
    margin: 0 auto;
    padding: 0;
    padding-top: 50px;
  }

  .project {
    margin: 0;
  }

  .pr-thumbs {
    padding: 0;
  }

  .pr-about {
    padding: 2rem 1rem;
    text-align: left;
  }

  .pr-date {
    float: right;
  }
}

/* below sm */
@include media-breakpoint-down(xs) {
  .pr-thumb {
    width: 80%;
  }

  .pr-watch {
    width: 100%;
  }

  .pr-about {
    margin: 0;
    margin-top: 0;
    margin-bottom: 3rem;
    padding: 0;
  }
}

.noanim {
  transition: none !important;
  transform: none !important;
  opacity: 1;

  .pr-thumbs-spacer, > *:hover {
    transition: none !important;
    transform: none !important;
    opacity: 1;
  }
}

@import "about-video-design";
@import "photography";
@import "blog";
