---
layout: default
---
{%- for category in page.categories -%}
  {%- case category -%}
    {%- when 'photography' -%}
      {%- comment -%}           OG Graph, Schema.org      {%- endcomment -%}
      {%- comment -%} Using split here because Liquid does not support creating a new array through assign{%- endcomment -%}
      {%- assign schemaValue = 'website,CreativeWork' | split: ',' -%}
    {%- when 'photojournalism' -%}
      {%- assign schemaValue = 'article,NewsArticle' | split: ',' -%}
    {%- when 'video' -%}
      {%- assign schemaValue = 'website,Video' | split: ','-%}
    {%- else -%}
      {%- assign schemaValue = 'article,BlogPosting' | split: ','-%}
  {%- endcase -%}
{%- endfor -%}
{%- assign metaTitle = page.title -%}
{%- assign metaDesc = page.description -%}
{%- if page.dateModified -%}
  {%- assign pageDateModified = page.dateModified -%}
{%- else -%}
  {%- if page.date -%}
    {%- assign pageDateModified = page.date -%}
  {%- else -%}
    {%- assign pageDateModified = site.time -%}
  {%- endif -%}
{%- endif -%}
<main class="container blog" xmlns:og="https://opengraphprotocol.org/schema/" xmlns:fb="https://www.facebook.com/2008/fbml" xmlns:website="https://ogp.me/ns/{{ schemaValue[0] }}" itemscope itemtype="https://schema.org/{{ schemaValue[1] }}">
  {%- comment -%} Begin blog-specific metadata. Applies to whole page. {%- endcomment -%}
  {%- comment -%} METADATA: OG Graph {%- endcomment -%}
  <meta property="og:type" content="article" />
  <meta property="og:image" content="{{ page.thumbnail.url | absolute_url }}"/>
  <meta property="og:image:width" content="{{ page.thumbnail.width }}"/>
  <meta property="og:image:height" content="{{ page.thumbnail.height }}"/>
  <meta property="og:title" content="{{ metaTitle }}" />
  <meta property="og:description" content="{{ metaDesc }}"/>
  <meta property="og:type" content="website" />
  <meta property="og:updated_time" content="{{ dateModified }}"/>
  <meta property="article:author" content="{{ site.author.name }}" />
  <meta property="article:publisher" content="{{ site.author.name }}" />
  <meta property="article:published_time" content="{{ page.date }}" />
  <meta property="article:modified_time" content="{{ pageDateModified }}" />

  {%- comment -%} METADATA: Schema.org {%- endcomment -%}
  <meta itemprop="name headline" content="{{ metaTitle }}" />
  <meta itemprop="author publisher" content="{{ site.author.name }}" />
  <meta itemprop="datePublished" content="{{ page.date }}" />
  <meta itemprop="dateModified" content="{{ pageDateModified }}" />
  <meta itemprop="mainEntityOfPage" content="{{ page.url | absolute_url }}" />
  <meta itemprop="image thumbnailUrl" content="{{ page.thumbnail.url | absolute_url }}" />

  {%- comment -%} METADATA: Twitter {%- endcomment -%}
  <meta name="twitter:creator" content="{{ site.author.social_media.twitter.handle }}" />
  <meta name="twitter:title" content="{{ metaTitle }}" />
  <meta name="twitter:image" content="{{ page.thumbnail.url | absolute_url }}" />
  {%- comment -%} END METADATA {%- endcomment -%}
  <div class="blog-head">
    <div class="blog-thumb-primary">
      <img src="{{ page.thumbnail.url | relative_url }}" alt="Cover image for: {{ page.title }}" />
    </div>
    <div class="blog-info">
      <a href="{{ page.url }}">
        <time class="blog-date" datetime="{{ page.date }}" title="{{ page.date }}">{{ page.date | date: "%e %B %Y" }}</time>
      </a>
      <h2 itemprop="name headline">{{ page.title }}</h2>
    </div>
  </div>
  <div class="blog-body">
    {% if page.gallery %}
    <p class="blog-gallery-note">
      <span class="en">Scroll for photos.</span><br />
      <span class="es" lang="es">Fotos a continuación.</span>
    </p>
    {% endif %}
    <div class="blog-text-content" itemprop="articleBody">
      {{ content }}
    </div>
  </div>
  {% if page.gallery %}
  <div class="blog-gallery" itemscope itemtype="http://schema.org/ImageGallery">
    {% for i in page.gallery.images %}
    {%- assign image_url = i.url | prepend: "/blog/img/" | relative_url -%}
    {%- if i.orientation == 'vertical' -%}
      {%- comment -%} For vertical images, reverse the dimensions {%- endcomment -%}
      {%- assign image_width = page.gallery_dimensions.height -%}
      {%- assign image_height = page.gallery_dimensions.width -%}
    {%- else -%}
      {%- assign image_width = page.gallery_dimensions.width -%}
      {%- assign image_height = page.gallery_dimensions.height -%}
    {%- endif -%}
    {%- if i.alt -%}
      {%- assign image_alt = i.alt -%}
    {%- else -%}
      {%- assign image_alt = i.url -%}
    {%- endif -%}
    <figure class="blog-gallery-image {%if i.orientation == 'vertical'%}vertical{%endif%}" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
      <img itemprop="thumbnail" src="{{ image_url }}" alt="{{ image_alt }}" width="{{ page.gallery_dimensions.width }}"/>
        <meta itemprop="width" content="{{ image_width }}" />
        <meta itemprop="height" content="{{ image_height }}" />
      {%- if i.caption -%}
      <figcaption>
        {{ i.caption }}
        {%- if i.credit %}&nbsp;(Credit: {{ i.credit }}){% endif %}
      </figcaption>
      {%- endif -%}
      <meta itemprop="copyrightHolder" content="Photo: {% if i.credit %}
      {{ i.credit }}
      {%- else -%}
      {{ site.author.name }}
      {%- endif -%}" />
    </figure>
    {% endfor %}
  </div>
  {% endif %}
  {% unless page.gallery_footer == false %}
    <div class="blog-gallery-footer">
      <em>Photos: {{ site.author.name }}.</em>
    </div>
  {% endunless %}
  <div class="blog-social">
    Social media links.
  </div>
</main>
