---
layout: default
---
<section class="container blog" itemscope itemtype="https://schema.org/BlogPosting">
  <div class="blog-head">
    <div class="blog-thumb-primary">
      <meta itemprop="image" content="{{ page.thumbnail | prepend: "/blog/img/" | absolute_url }}" />
      <img src="{{ page.thumbnail | prepend: "/blog/img/" | relative_url }}" alt="{{ page.thumbnailAlt }}" />
    </div>
    <div class="blog-info">
      <h2 itemprop="name headline">{{ page.title }}</h2>
      <meta itemscope itemtype="http"
      <meta itemprop="author" content="Sebastian Reategui" />
      <meta itemprop="publisher" content="sebreategui.com" />
      <meta itemprop="datePublished" content="{{ page.date }}" />
      <meta itemprop="dateModified" content="{{ page.date }}" />
      <time class="blog-date" datetime="{{ page.date }}">{{ page.date | date: "%e %B %Y" }}</time>
  </div>
  <div class="blog-text" itemprop="articleBody">
  {{ content }}
  </div>
  {% if page.gallery %}
  <div class="blog-gallery">
    {% for i in page.gallery_images %}
    {%- assign image_url = i.file | prepend: "blog/img/" | relative_url -%}
    {%- if i.alt -%}
      {%- assign image_alt = i.alt -%}
    {%- else -%}
      {%- assign image_alt = i.file -%}
    {%- endif -%}
    <img src="{{ image_url }}" alt="{{ image_alt }}" />
    {% endfor %}
  </div>
  {% endif %}
</section>
