<!doctype html>
<html lang="{{ site.locale }}" xmlns:og="http://opengraphprotocol.org/schema/" xmlns:fb="http://www.facebook.com/2008/fbml" xmlns:website="http://ogp.me/ns/website" itemscope itemtype="http://schema.org/WebPage">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta http-equiv="x-ua-compatible" content="IE=edge,chrome=1" />
    <base href="">
    <title>{{ page.title }} &mdash; {{ site.title }}</title>
    <link rel="stylesheet" href="{{ "assets/style.css" | relative_url }}" />
    {% include _meta.html %}
  </head>

  <body class="page-{{ page.name | remove: '.html' | remove: '.md' | append: " " }}
    {%- if layout.subcategory_parent -%}
      page-parent-{{ layout.subcategory_parent }}
    {%- elsif page.layout == 'blog' -%}
      page-blog
    {%- endif -%}" id="top">
  {% include _nav.html %}
  {{ content }}
  <script src="{{ "assets/jquery-3.2.1.slim.min.js" | relative_url }}" type="text/javascript"></script>
  <script src="{{ "assets/popper.min.js" | relative_url }}" type="text/javascript"></script>
  <script src="{{ "assets/bootstrap.min.js" | relative_url }}" type="text/javascript"></script>
  <script src="{{ "assets/script.js" | relative_url }}" type="text/javascript"></script>
  </body>
</html>
