<!doctype html>
<html lang="{{ site.locale }}" xmlns:og="https://opengraphprotocol.org/schema/" xmlns:fb="https://www.facebook.com/2008/fbml" {% if page.layout == 'blog' -%}
  xmlns:website="https://ogp.me/ns/article" itemscope itemtype="https://schema.org/BlogPosting"
  {%- else -%}
  xmlns:website="https://ogp.me/ns/website" itemscope itemtype="https://schema.org/WebPage"
  {%- endif -%}>
  <head>
    {% include _meta.html %}
    <link rel="stylesheet" href="{{ "assets/style.css" | relative_url }}" />
  </head>

  <body class="page-{{ page.name | remove: '.html' | remove: '.md' | append: " " }}
    {%- if layout.subcategory_parent -%}
      page-parent-{{ layout.subcategory_parent }}
    {%- elsif page.layout == 'blog' -%}
      page-blog
    {%- endif -%}" id="top">
  {% include _nav.html %}
  {{ content }}
  <script src="{{ "assets/jquery-3.2.1.slim.min.js" | relative_url }}" type="text/javascript"></script>
  <script src="{{ "assets/popper.min.js" | relative_url }}" type="text/javascript"></script>
  <script src="{{ "assets/bootstrap.min.js" | relative_url }}" type="text/javascript"></script>
  <script src="{{ "assets/script.js" | relative_url }}" type="text/javascript"></script>
  </body>
</html>
