<!doctype html>
<html lang="{{ site.locale }}" itemscope itemtype="https://schema.org/{{ page.schemaType }}">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta http-equiv="x-ua-compatible" content="IE=edge,chrome=1" />
    <base href="">
    {% include _meta.html %}
    <link rel="stylesheet" href="{{ "css/style.css" | relative_url }}" />
  </head>
  {%- assign bodyClassPageName = page.path | remove: '.html' | remove: '.md' | replace: '/', '-' | replace: '_posts', 'blog' -%}
  <body class="page-{{ bodyClassPageName | append: " " }}
    {%- if layout.subcategory_parent -%}
      page-parent-{{ layout.subcategory_parent }}
    {%- elsif page.layout == 'blog' -%}
      page-blog
    {%- endif %} {{ layout.classes }} {{ page.classes }}" id="top">
  {% include _nav.html %}
  {{ content }}
  {% include _footer.html %}
  <script src="{{ "js/jquery-popper-bootstrap.js" | relative_url }}"></script>
  {%- comment -%} Specifics for this site. {%- endcomment -%}
  <script src="{{ "js/script.js" | relative_url }}"></script>
  </body>
</html>
