---
layout: default
---
<main class="projects designs">
  {%- for design in page.designs -%}
    {%- comment -%} Allow each design to define a schema type. {%- endcomment -%}
    {%- if design.schemaType -%}
      {%- assign schemaType = design.schemaType -%}
    {%- else -%}
      {%- assign schemaType = "CreativeWork"-%}
    {%- endif -%}
  <section class="project design" itemscope itemtype="https://schema.org/{{ schemaType }}">
    {%- comment -%} Metadata. {%- endcomment -%}
    <meta itemprop="name" content="{{ design.title }}" />
    <meta itemprop="thumbnailUrl" content="{{ design.thumbs[0].file | prepend: 'img/' | absolute_url }}" />
    <meta itemprop="creator" content="Sebastian Reategui" />
    {%- if design.creditOther -%}
      <meta itemprop="contributor" content="{{ design.creditOther }}" />
    {%- endif -%}
    <meta itemprop="dateCreated" content="{{ design.date }}" />
    <meta itemprop="datePublished" content="{{ design.date }}" />
    {% comment %} * Nominate attributes according to the schemaType, at schemaAttributes.
                  * Place each attribute and value in the following format:
                      - attribute: value
                  * {%- endcomment -%}
    {% if design.schemaAttributes %}
      {{ design.schemaAttributes }}
    {% endif %}

    {%- comment -%} Gallery. {%- endcomment -%}
    <section class="gallery" itemscope itemtype="https://schema.org/ImageGallery">
      {%- if design.thumbs.size > 1 -%}
      <div class="slidebox">
        {%- for thisThumb in design.thumbs -%}
        {%- if thisThumb.dimensions -%}
          {%- comment -%} If a thumb has its own dimensions, use them. {%- endcomment -%}
          {%- capture thumbWidthAndHeight -%}width="{{ thisThumb.dimensions.width }}" height="{{ thisThumb.dimensions.height }}"{%- endcapture -%}
          {%- assign thumbWidth = thisThumb.dimensions.width -%}
          {%- assign thumbHeight = thisThumb.dimensions.height -%}
        {%- else -%}
        {%- comment -%} If not, use the values that have been designated in the set. {%- endcomment -%}
          {%- capture thumbWidthAndHeight -%}width="{{ design.thumbDimensions.width }}" height="{{ design.thumbDimensions.height }}"{%- endcapture -%}
          {%- assign thumbWidth = design.thumbDimensions.width -%}
          {%- assign thumbHeight = design.thumbDimensions.height -%}
        {%- endif -%}
        <div class="thumb {{ thisThumb.orientation }}" itemprop="associatedMedia" itemscope itemtype="https://schema.org/ImageObject">
          <img class="thumb-file" src="/img/{{ thisThumb.file }}" alt="{{ design.thumbAlt }}" {{ thumbWidthAndHeight }} />
          <meta itemprop="width" content="{{ thumbWidth }}" />
          <meta itemprop="height" content="{{ thumbHeight }}" />
        </div>
        {%- endfor -%}
      </div>
      {%- else -%}
      <div class="slidebox single">
        <div class="thumb">
          <img class="thumb-file large" src="/img/{{ design.thumbs[0].file }}" alt="{{ design.thumbAlt }}" {{ thumbWidthAndHeight }} />
        </div>
      </div>
      {%- endif -%}
    </section>

    {%- comment -%} About. {%- endcomment -%}
    <section class="about">
      <h4 class="title">
        <span class="date month-full">{{ design.date | date:"%B %Y" }}</span>
        <span class="date month-short">{{ design.date | date:"%b %Y" }}</span>
        <a href="{{ design.url }}" target="_blank">{{ design.title }}</a>
      </h4>
      <div class="details genre">{{ design.genre }}</div>
      <p class="description" itemprop="description">{{ design.description }}</p>
      <ul class="details">
        {%- if design.material -%}
        <li class="detail material">
          <strong>Material</strong>: <span itemprop="material">{{ design.material }}</span>
        </li>
        {%- endif -%}
        {%- if design.technique -%}
        <li class="detail technique"><strong>Technique</strong>: {{ design.technique }}</li>
        {%- endif -%}
        {%- if design.software -%}
        <li class="detail software"><strong>Software</strong>: {{ design.software }}</li>
        {%- endif -%}
        {%- if design.dimensions -%}
        <li class="detail dimensions"><strong>Dimensions</strong>: {{ design.dimensions }}</li>
        {%- endif -%}
        {%- for other in design.other -%}
        <li class="detail">{{ other }}</li>
        {%- endfor -%}
      </ul>
      {%- if design.url -%}
      <a class="btn action" href="{{ design.url }}" target="_blank">View</a>
      {%- endif -%}
    </section>
  </section>
  {%- endfor -%}
</main>
{{ content }}
