---
layout: default
---
<div class="projects designs">
  {%- for design in page.designs -%}
    {%- comment -%} Allow each design to define a schema type. {%- endcomment -%}
    {%- if design.schemaType -%}
      {%- assign schemaType = design.schemaType -%}
    {%- else -%}
      {%- assign schemaType = "creativeWork"-%}
    {%- endif -%}
  <div class="project design" itemscope itemtype="http://schema.org/{{ schemaType }}">
    {%- comment -%} Metadata. {%- endcomment -%}
    <meta itemprop="name" content="{{ design.title }}">
    <meta itemprop="thumbnailUrl" content="{{ design.thumbs[0].file | prepend: 'img/' | absolute_url }}">
    <meta itemprop="creator" content="Sebastian Reategui">
    {%- if design.creditOther -%}
      <meta itemprop="contributor" content="{{ design.creditOther }}">
    {%- endif -%}
    <meta itemprop="dateCreated" content="{{ design.date }}">
    <meta itemprop="datePublished" content="{{ design.date }}">

    {%- comment -%} Gallery. {%- endcomment -%}
    <div class="gallery" itemscope itemtype="http://schema.org/ImageGallery">
      {%- if design.thumbs.size > 1 -%}
      {%- comment -%} A string to define width/height in the <img> element.
                      The values have been designated in the set as being for all thumbs. {%- endcomment -%}
      {%- capture thumbWidthAndHeight -%}width="{{ design.thumbDimensions.width }}" height="{{ design.thumbDimensions.height }}"{%- endcapture -%}
      {%- assign thumbWidth = design.thumbDimensions.width -%}
      {%- assign thumbHeight = design.thumbDimensions.height -%}
        <div class="slidebox">
          <div class="spacer">&nbsp;</div>
          {%- for thisThumb in design.thumbs -%}
          {%- if thisThumb.dimensions -%}
            {%- comment -%} However, if a thumb has its own dimensions, make them override the default. {%- endcomment -%}
            {%- capture thumbWidthAndHeight -%}width="{{ thisThumb.dimensions.width }}" height="{{ thisThumb.dimensions.height }}"{%- endcapture -%}
            {%- assign thumbWidth = thisThumb.dimensions.width -%}
            {%- assign thumbHeight = thisThumb.dimensions.height -%}
          {%- endif -%}
          <div class="thumb {{ thisThumb.orientation }}" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
            <img class="thumb-file" src="img/{{ thisThumb.file }}" alt="{{ design.thumbAlt }}" {{ thumbWidthAndHeight }} />
            <meta itemprop="width" content="{{ thumbWidth }}" />
            <meta itemprop="height" content="{{ thumbHeight }}" />
          {%- endfor -%}
        </div>
      {%- else -%}
      {%- comment -%} Place a spacer (but it has no icon). {%- endcomment -%}
      <div class="spacer"></div>
      <div class="thumb">
        <img class="thumb-file large" src="img/{{ design.thumbs[0].file }}" alt="{{ design.thumbAlt }}" {{ thumbWidthAndHeight }} />
      </div>
      {%- endif -%}
    </div>

    {%- comment -%} About. {%- endcomment -%}
    <div class="about">
      <h4 class="title">
        <span class="date">{{ design.date | date:"%B %Y" }}</span>
        <a href="{{ design.url }}">{{ design.title }}</a>
      </h4>
      <hr />
      <p class="description" itemprop="description">{{ design.description }}</p>
      <ul class="details">
        {%- if design.material -%}
        <li class="detail material">Material: {{ design.material }}</li>
        {%- endif -%}
        {%- if design.technique -%}
        <li class="detail technique">Technique: {{ design.technique }}</li>
        {%- endif -%}
        {%- for other in design.other -%}
        <li class="detail">{{ other }}</li>
        {%- endfor -%}
      </ul>
      {%- if design.url -%}
      <a class="action" href="{{ design.url }}">View</a>
      {%- endif -%}
    </div>
  </div>
  {%- endfor -%}
</div>
{{ content }}
