---
layout:             default
subcategory_parent: photography
thumbnail:
  url:      "/img/photography-category-thumb-1.jpg"
  width:    853
  height:   480
---
{% assign subcategories = site.data.photography.subcategories %}
{% assign subcategory = site.data.photography.subcategories[page.subcategory] %}

<main class="images">

  {% for image in page.images %}
  {%- capture imageFilepath -%}{{ page.image_filepath }}{{ image.file }}{%- endcapture -%}
  {%- assign imageFilepathURL = imageFilepath | absolute_url -%}
  {%- if image.dimensions -%}
    {%- comment -%} If image has different dimensions, assign them as an inline style for the image section. {%- endcomment -%}
    {%- capture imageCustomDimensions -%}
    style="max-width:{{ image.dimensions.width }}px; max-height:{{ image.dimensions.height }}px;"
    {%- endcapture -%}
  {%- else -%}
    {%- comment -%} Reset this variable so it doesn't affect subsequent images. {%- endcomment -%}
    {%- assign imageCustomDimensions = '' -%}
  {%- endif -%}
  <section class="image" itemprop="photo" itemscope itemtype="http://schema.org/Photograph"{{ imageCustomDimensions }}>
    <meta itemprop="name" content="{{ image.alt }}">
    <meta itemprop="description" content="{{ image.description }}">
    <meta itemprop="thumbnailUrl" content="{{ imageFilepathURL }}">
    <meta itemprop="creator" content="Sebastian Reategui">
    <meta itemprop="dateCreated" content="{{ image.date }}">
    <meta itemprop="datePublished" content="{{ image.date }}">
    {%- if image.alt -%}
      {%- assign imageAltText = image.alt -%}
    {%- elsif image.description -%}
      {%- assign imageAltText = image.description -%}
    {%- else -%}
      {%- capture imageAltText -%}{{ image.location }}, {{ img.date | date: "%e %B %Y" }}{%- endcapture -%}
    {%- endif -%}
    <img class="object" src="{{ imageFilepath }}" alt="{{ imageAltText }}" />
    {%- if image.description -%}
      {%- assign iiClass = 'extended' -%}
    {%- else -%}
      {%- assign iiClass = 'short' -%}
    {%- endif -%}
    <div class="ii {{ iiClass }} m-hide">
      <div class="m-toggle"></div>
      <div class="body">
        {% if image.description %}
        <div class="description">
          {{ image.description }}
          {% if image.series %}
          <span class="series"><a href="{{ image.series }}">View more from this series.</a></span>
          {% endif %}
        </div>
        {% endif %}
        <div class="details">
          <div class="detail location" itemprop="locationCreated">{{ image.location }}</div>
          <time class="detail date" datetime="{{ image.date }}">{{ image.date | date: "%e %B %Y" }}</time>
          <div class="detail share share-hide">
            <a class="detail icon share-toggle"></a>
            {%- if image.description -%}
            {%- assign shareLinkDesc = image.description -%}
            {%- else -%}
            {%- assign shareLinkDesc = image.location -%}
            {%- endif -%}
            {%- assign shareLinkTitle = image.title -%}
            {%- include _share.html sites='all' url=imageFilepathURL title=shareLinkTitle tumblr-posttype="photo" -%}
          </div>
        </div>
      </div>
    </div>
  </section>
  {% endfor %}
  <div class="end-of-images"></div>
</main>
<div class="sc-hover"></div>
<nav class="nav sc sticky">
  {% for cat in subcategories %}
  {%- if cat.name == page.subcategory -%}
  <a class="nav-item nav-link active" href="">{{ cat.label }}</a>
  {%- else -%}
  <a class="nav-item nav-link notactive" href="{{ cat.url }}">{{ cat.label }}</a>
  {%- endif -%}
  {% endfor %}
</nav>
{{ content }}
