---
subcategory_parent: photography
---
{% include _header.html %}
    
    {% assign subcategories = site.data.photography.subcategories %}
    {% assign subcategory = site.data.photography.subcategories[page.subcategory] %}
    
  <div class="subcat-wrapper">  
    <div class="subcat">
      <a id="subcat-jump-top" href="#top" class="subcat-toggle">
        <span class="subcat-jump-top-icon"></span>
      </a>
      <button id="subcat-toggle-button" type="button" class="subcat-toggle">
        <span class="subcat-toggle-button-label">{{ page.subcategory-label }}</span>
        <span class="sr-only">Toggle Dropdown</span>
      </button>
      <div class="subcat-menu">
        {% for cat in subcategories %}
          <a class="item{% if cat.name == page.subcategory %} item-active{% endif %}" id="subcat-item-{{ cat.name }}" data-subcat="{{ cat.name }}" href="{{ cat.name }}">{{ cat.label }}</a>
        {% endfor %}
      </div>
    </div>
  </div>

  <div class="images">
      
    {% for image in page.images %}
      {% if forloop.index0 == 1 %}
        {{ page.welcome }}
      {% endif %}
    <div class="image" itemprop="photo" itemscope itemtype="http://schema.org/Photograph">
      <meta itemprop="name" content="{{ img.alt }}">
      <meta itemprop="description" content="{{ img.description }}">
      <meta itemprop="thumbnailUrl" content="{{ video.thumb-first | prepend: 'img/' | absolute_url }}">
      <meta itemprop="creator" content="Sebastian Reategui">
      <meta itemprop="dateCreated" content="{{ img.date }}">
      <meta itemprop="datePublished" content="{{ img.date }}">
      <img class="image-file load-dyn" data-src="{{ image.filename | prepend: 'img/' }}" alt="{{ image.alt-text }}" />
      <noscript><img class="image-file" src="{{ image.filename | prepend: 'img/' }}" alt="{{ image.alt-text }}" /></noscript>
      <div class="ii">
        <div class="ii-body">
          <div class="arrow"></div>
          <div class="ii-desc">
            {{ image.description }}
          </div>
          <h3 class="ii-details">
            <div class="ii-location" itemprop="locationCreated">{{ image.location }}</div>
            <div class="ii-date">{{ image.date }}</div>
            <div class="ii-share-links">
              <a href="{{ image.url-permalink }}">Permalink</a> &sdot;
              <a href="{{ image.url-fb }}">Facebook</a> &sdot;
              <a href="{{ image.url-tumblr }}">Tumblr</a>
            </div>
          </h3>
        </div>
      </div>
      <div class="ii-icon"></div>
    </div>
    {% endfor %}
      
  </div>

{{ content }}

{% include _footer.html %}