---
layout:             default
subcategory_parent: photography
thumbnail:
  url:      "/img/photography-category-thumb-1.jpg"
  width:    853
  height:   480
---
{% assign subcategories = site.data.photography.subcategories %}
{% assign subcategory = site.data.photography.subcategories[page.subcategory] %}

<main class="images">

  {% for image in page.images %}
  {%- capture imageFilepath -%}{{ page.image_filepath }}{{ image.file }}{%- endcapture -%}
  {%- assign imageFilepathURL = imageFilepath | absolute_url -%}
  {%- if image.dimensions -%}
    {%- comment -%} If image has different dimensions, assign them as an inline style for the image section. {%- endcomment -%}
    {%- capture imageCustomDimensions -%}
    style="max-width:{{ image.dimensions.width }}px; max-height:{{ image.dimensions.height }}px;"
    {%- endcapture -%}
  {%- else -%}
    {%- comment -%} Reset this variable so it doesn't affect subsequent images. {%- endcomment -%}
    {%- assign imageCustomDimensions = '' -%}
  {%- endif -%}
  <section class="image" itemprop="photo" itemscope itemtype="http://schema.org/Photograph"{{ imageCustomDimensions }}>
    <meta itemprop="name" content="{{ image.alt }}">
    <meta itemprop="description" content="{{ image.description | strip_html | strip_newlines }}">
    <meta itemprop="thumbnailUrl" content="{{ imageFilepathURL }}">
    <meta itemprop="creator" content="Sebastian Reategui">
    <meta itemprop="dateCreated" content="{{ image.date }}">
    <meta itemprop="datePublished" content="{{ image.date }}">
    {%- if image.alt -%}
      {%- capture imageAltText -%}{{ image.alt | strip_html | strip_newlines }}{%- endcapture -%}
    {%- elsif image.description -%}
      {%- capture imageAltText -%}{{ image.description | strip_html | strip_newlines }}{%- endcapture -%}
    {%- else -%}
      {%- capture imageAltText -%}{{ image.location }}, {{ img.date | date: "%e %B %Y" }}{%- endcapture -%}
    {%- endif -%}

    {%- comment -%} The first 3 images are formatted normally so they load normally. {%- endcomment -%}
    {%- if forloop.index0 <= 2 -%}
    <img class="object nolazy" src="{{ imageFilepath }}" alt="{{ imageAltText }}" />
    {%- else -%}
    {%- comment -%} Then every other image is structured for lazy loading. {%- endcomment -%}
    <img class="object lazy" data-src="{{ imageFilepath }}" alt="{{ imageAltText }}" style="display:none;" />
    <noscript>
      <img class="object" src="{{ imageFilepath }}" alt="{{ imageAltText }}" />
    </noscript>
    {%- endif -%}

    {%- if image.description -%}
      {%- assign iiClass = 'with-desc' -%}
    {%- else -%}
      {%- assign iiClass = 'no-desc' -%}
    {%- endif -%}
    <div class="ii {{ iiClass }} m-hide">
      <div class="m-toggle"></div>
      <div class="body">
        <div class="description">
          <p>
            {{ image.description }}
            {% if image.series %}
            <span class="series"><a href="{{ image.series }}">View more from this series</a>.</span>
            {% endif %}
          </p>
        </div>
        <div class="details">
          <span class="location" itemprop="locationCreated">{{ image.location }}</span>
          <time class="date" datetime="{{ image.date }}">
            <span class="date-short">{{ image.date | date: "%b %Y" }}</span>
          </time>
        </div>
        <div class="share share-hide">
          {%- if image.description -%}
          {%- assign shareLinkDesc = image.description -%}
          {%- else -%}
          {%- assign shareLinkDesc = image.location -%}
          {%- endif -%}
          {%- assign shareLinkTitle = image.title -%}
          {%- include _share.html sites='all' url=imageFilepathURL title=shareLinkTitle tumblr-posttype="photo" -%}
          <a class="icon share-toggle"></a>
        </div>
      </div>
    </div>
  </section>
  {% endfor %}
  <div class="end-of-images"></div>
</main>
<div class="sc-hover"></div>
<nav class="nav sc sticky">
  {% for cat in subcategories %}
  {%- if cat.name == page.subcategory -%}
  <a class="nav-item nav-link active" href="">{{ cat.label }}</a>
  {%- else -%}
  <a class="nav-item nav-link notactive" href="{{ cat.url }}">{{ cat.label }}</a>
  {%- endif -%}
  {% endfor %}
</nav>
{{ content }}
