---
layout: default
---
{%- comment -%}
  // Layout defined here is 'default', so when recent-item is shown on its own
  // page, it will give itself <html> and such.
  // When recent items are shown elsewhere in a combined page, they will not
  // adopt the default layout, which avoids redundancy <html> tags.
{%- endcomment -%}
{%- case page.category -%}
  {%- when 'Photography' -%}
    {%- case page.genre -%}
      {%- when 'Photojournalism' -%}
        {%- assign schemaType = 'NewsArticle' -%}
      {%- else -%}
        {%- assign schemaType = 'CreativeWork' -%}
    {%- endcase -%}
  {%- when 'Video' -%}
    {%- assign schemaType = 'Video' -%}
  {%- else -%}
    {%- assign schemaType = 'CreativeWork' -%}
{%- endcase -%}
<section class="recent-item" itemscope itemtype="https://schema.org/{{ schemaType }}">
  <meta itemprop="author" content="{{ site.author.name }}" />
  <meta itemprop="image" content="{{ page.thumbnail.url | absolute_url }}" />
  <meta itemprop="mainEntityOfPage" content="{{ page.url | absolute_url }}" />
  <meta itemprop="dateCreated" content="{{ page.date }}" />
  <meta itemprop="datePublished" content="{{ page.date }}" />
  <meta itemprop="dateModified" content="{{ page.date }}" />
  <header class="title" itemprop="name headline">{{ page.title }}</header>
  <time class="date" datetime="{{ page.date }}">
    <a href="{{ page.url }}">{{ page.date | date: "%e %B %Y" }}</a>
  </time>
  <p class="preview">
    {{ page.description }}
  </p>
  <div class="details">With: {{ page.collaborators }} &sdot; {{ page.genre }}</div>
  <div class="gallery"  itemscope itemtype="https://schema.org/ImageGallery">
  {% for image in page.gallery.images %}
    <div class="image" itemprop="associatedMedia" itemscope itemtype="https://schema.org/ImageObject">
      {{ image.url | prepend: "/recent/img/" }}
      <meta itemprop="copyrightHolder" content="Photo: {% if image.credit %}
        {{ image.credit }}
        {%- else -%}
        {{ site.author.name }}
        {%- endif -%}" />
    </div>
  {% endfor %}
  </div>
</section>
