---
layout: default
---
<main class="projects videos">
  {%- for video in page.videos -%}
  <section class="project video" itemprop="video" itemscope itemtype="http://schema.org/VideoObject">

    {%- comment -%} Section 0: Metadata. {%- endcomment -%}
    {%- assign thumbFirst = video.thumbs[0].file -%}
    <meta itemprop="name" content="{{ video.title }}">
    <meta itemprop="duration" content="{{ video.duration }}">
    <meta itemprop="thumbnailUrl" content="{{ thumbFirst | prepend: 'img/' | absolute_url }}">
    {% if video.creditDirector %}
      <meta itemprop="contributor" content="{{ video.credit }}">
      <meta itemprop="creator" content="{{ video.credit-director }}">
    {% else %}
      <meta itemprop="creator" content="Sebastian Reategui">
    {%- endif -%}
    <meta itemprop="contentUrl" content="{{ video.url }}">
    <meta itemprop="embedUrl" content="{{ video.url }}">
    <meta itemprop="uploadDate" content="{{ video.date }}">
    <meta itemprop="datePublished" content="{{ video.date }}">

    {%- comment -%} Section 1: Gallery box. {%- endcomment -%}
    <section class="gallery" itemscope itemtype="http://schema.org/ImageGallery">
      <div class="slidebox">
        {%- comment -%} This string will be used on each <img> to restrict the width of all images in the gallery. {%-endcomment -%}
        {%- capture thumbWidthAndHeight -%}width="{{ video.thumbDimensions.width }}" height="{{ video.thumbDimensions.height }}"{%- endcapture -%}
        {%- if video.available == false -%}
        {%- comment -%} If no video is available, show just a normal image with no link. {%- endcomment -%}
        <div class="thumb">
          <img class="thumb-file" src="img/{{ thumbFirst }}" alt="{{ video.thumbAlt }}" {{ thumbWidthAndHeight }} />
        </div>
        {%- else -%}
        <div class="thumb thumb-play">
          <a href="{{ video.url }}" target="_blank">
            <img class="thumb-file" src="img/{{ thumbFirst }}" alt="{{ video.thumbAlt }}" {{ thumbWidthAndHeight }} />
            <div class="thumb-play-icon"></div>
          </a>
        </div>
        {%- endif -%}
        {%- comment -%} After the first thumb image, start creating the others. {%- endcomment -%}
        {% for thumb in video.thumbs %}
          {%- if forloop.first -%}
            {%- continue -%}
          {%- else -%}
            <div class="thumb" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
              <img class="thumb-file" src="img/{{ thumb.file }}" alt="{{ thumbAlt }}" {{ thumbWidthAndHeight }}  />
              <meta itemprop="width" content="{{ video.thumbDimensions.width }}" />
              <meta itemprop="height" content="{{ video.thumbDimensions.height }}" />
            </div>
          {%- endif -%}
        {% endfor %}
      </div>
    </section>

    {%- comment -%} Section 2: About box. {%- endcomment -%}
    <section class="about">
        <h4 class="title">
          <span class="date month-full">{{ video.date | date:"%B %Y" }}</span>
          <span class="date month-short">{{ video.date | date:"%b %Y" }}</span>
          <a href="{{ video.url }}">{{ video.title }}</a>
        </h4>
        <p class="description" itemprop="description">{{ video.description }}</p>
        <ul class="details">
          <li class="credit">{{ video.credit }}</li>
          <li class="credit-display">{{ video.creditDisplay }}</li>
          {%- if video.creditDirector -%}
          <li class="credit-director" itemprop="director">Director: {{ video.creditDirector }}</li>
          {%- endif -%}
          <li>
            <span class="duration">{{ video.duration | date: "%-M min" }}</span>
            &sdot;
            <span class="genre">{{ video.genre }}</span>
          </li>
          {%- if video.license -%}
          <li class="license" itemprop="license">{{ video.license }}</li>
          {%- endif -%}
          <li class="location" itemprop="locationCreated">{{ video.location }}</li>
        </ul>
        {%- if video.available != false -%}
          <a class="btn action" href="{{ video.url }}" target="_blank">Watch</a>
        {%- endif -%}
    </section>

  </section>
  {%- endfor -%}
</main>
{{ content }}
